<include file="Public/header" />
<link rel="stylesheet" type="text/css" href="{$Think.HOME_CSS}ucenter/changepassword.css">
<style>
    .hintbox{ color: #bbb; width:180px;height:31px; float:left; margin-left:20px;   }
    .hintbox p a{ color: #bbb;}
    .hintbox .hintbox_ct{width:180px;  padding:15px 15px 10px 5px; text-align:left;  position:absolute; background:url(http://shop-misc.gbicom.cn/images/hintbox_bg.png) no-repeat;  margin-left:-32px; display:none; }
    .active_hintbox{   height:31px; }
    .active_hintbox .hintbox_ct{ display:block; }
</style>
<script language="javascript" src="{$Think.HOME_JS}ucenter/changepassword.js"></script>
<!--个人中心 安全中心 修改密码 开始-->
<div class="container">
	<div class="crumbs">
    	您的位置：
        <a href="{$Think.DOMAIN}">中细软服务商城</a>&gt;
        <a href="{$Think.DOMAIN}Home/User/userhome">个人中心</a>&gt;
        <a href="javascript:void()">安全设置</a>
    </div>
	<include file="Public/ucenter_left"/>
    <div class="members_right bindingphone  float-right">
    	<p class="members_right_title">安全设置</p>
        <div class="changepassword_box">
        	<h3>修改密码</h3>
            <form action="editpassword" method="post" onsubmit="return SubmitForm()">
            <table>
            	<tr>
                	<td width="100" class="text-right padding_top50">当前密码：</td>
                    <td width="41%" class="text-left padding_top50"><input class="lineheight29" type="password" size="50" onblur="checkpass()" id="oldpassword" name="old_pass"/></td>
                    <td width="48%" class="text-left color9 padding_top50" id="messagea"></td>
                </tr>
                <tr>
                	<td class="text-right">设置新密码：</td>
                    <td class="text-left"><input class="lineheight29" type="password" size="50" onkeyup=checkPassword(this.value); id="newpassword" name="new_pass"/></td> 
                    <td class="text-left color9">
                        <span class="strong">
                        <div class="pwd-strength-box" id="pwdLow">低</div>
                        <div class="pwd-strength-box" id="pwdMed">中</div>
                        <div class="pwd-strength-box" id="pwdHi">高</div>
                        </span>
                    <div class="hintbox" onmouseout="this.className='hintbox'" onmouseover="this.className='hintbox active_hintbox'"> 
                            <p> 
                              	<a href="javascript:void(0)" target="_blank">如何设置高强度的密码？</a> 
                            </p>  
                            <div class="hintbox_ct"> 
                              	 密码设置至少6位以上，由数字、字母和符号混合而成，安全性最高。
                            </div> 
                      </div></td>
                </tr>
                <tr>
                	<td class="text-right">确认新密码：</td>
                    <td class="text-left"><input class="lineheight29" type="password" size="50" onblur="verifyPassword()" id="verify"/></td>
                    <td class="text-left color9" id="messagec">请再次输入您的新密码</td>
                </tr>
                 <tr>
                    <td class="text-right padding_bottom30"></td>
                    <td class="text-left padding_bottom30"><input class="button_save" type="submit" value="确认"></td>
                    <td></td>
                </tr>  
            </table>  
        </form>         
        </div>    
    </div>
    <div style="clear:both;"></div> 
</div>

<!--个人中心 安全中心 修改密码 结束-->


<include file="Public/footer" />
