<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>发票说明</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--顶部导航 开始-->
<div class="topnav-box">
	<div class="container">
    	<ul class="topnav">
            <li style="margin-right:30px;">
                <span>liliyhu_1987,</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="a-red">退出</a>
            </li>
            <li class="font-size14" style="margin-right:110px;">
            	<a href="" class="topnav-personal a-red">个人中心</a>
                <!--个人中心下拉框 开始-->
                <div class="down" style="display:none;">
                    <dd class="downbox">
                    	<dl><a href="">订单管理</a></dl>
                        <dl><a href="">基本资料</a></dl>
                        <dl><a href="">安全中心</a></dl>
                        
                    </dd>
                </div>
                <!--个人中心下拉框 结束-->
            </li>
            
            <li>
            	<span class="color9">全国统一咨询热线：</span>&nbsp;&nbsp;
                <b class="font-size14" style="color:#bb0000">400-700-0065</b>
            </li>
            <li style="float:right; padding-right:15px;">
            	<a href=""  class="a-red">收藏</a>
            </li>
            <li style="float:right; padding-right:20px;">
            	<a href=""  class="a-red">设为首页 </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
<!--顶部导航 结束-->

<!--顶部搜索 开始-->
<div class="container top-search">
	<div class=" float-left">
    	<img src="images/logo.png">
    </div>
    <div class=" float-left">
    	<a class="mallname" href="">服务商城</a>
    </div>
    <div class=" float-right">
    	<a href="" class=" button"><img src="images/button05.png"></a>
    </div>
    <div class=" float-right">
    	<ul class="search">
        	
            <li class="">
            <a href="" class="font-size16 search-left">
            商&nbsp;标</a>
            <!--搜索下拉框 开始-->
                <div class="down search-down" style="display:none;">
                    <dl class="downbox" style="">
                        <dd><a href="">商&nbsp;标</a></dd>
                        <dd><a href="">商&nbsp;标</a></dd>
                        <dd><a href="">商&nbsp;标</a></dd>
                        
                    </dl>
                </div>
            <!--搜索下拉框 结束-->
            
            </li>
            
            <li><input type="text" value="注册商标请先查询，请输入商标名称，如王老吉"></li>
            <li><a href="" class=" button"><img src="images/button-search.png"></a></li>
            <div style="clear:both;"></div>
        </ul>
        <p class="search-info">
        	热搜词：
        	<a href="" class="a-red">海尔</a>&nbsp;&nbsp;&nbsp;  
            <a href="" class="a-red">ipad</a>&nbsp;&nbsp;&nbsp;     
            <a href="" class="a-red">苹果</a> &nbsp;&nbsp;&nbsp;    
            <a href="" class="a-red">三星</a>  
        </p>
    </div>
</div> 
<!--顶部搜索 结束-->

<!--主导航 开始-->
<div class="main-navbg">
	<div class="container">
    	<ul class="main-nav">
        	<li>
                <a href="" class="classification">全部分类</a>
                <!--主菜单下拉框 开始-->
                
              	<div class="mainnav-down" style="display:none;">
                	<dl class="mainnav-downbox">
                    	<!--展开菜单 开始-->
                    	<div class="mainnav-open" style="display:none;">
                            <div class="mainnav-openbox">
                            	<div class="openbox-left">
                                	<ul>
                                    	<li><a href="" class="openbox-text01">国内注册</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">国内</a>&nbsp;
                                                |&nbsp;<a href="">香港</a>&nbsp;
                                                |&nbsp;<a href="">澳门</a>&nbsp;
                                                |&nbsp;<a href="">台湾</a>&nbsp;
                                            </p>
                                                
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul>
                                    	<li><a href="" class="openbox-text01">国内注册</a></li>
                                        <li>
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p> 
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p>    
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p>              
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul>
                                    	<li><a href="" class="openbox-text01">商标设计</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">卡通人物</a>&nbsp;
                                                |&nbsp;<a href="">文字变形</a>&nbsp;
                                                |&nbsp;<a href="">澳门</a>&nbsp;
                                                |&nbsp;<a href="">台湾</a>&nbsp;
                                            </p>
                                             
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul style="border:none 0;">
                                    	<li><a href="" class="openbox-text01">商标案件</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>
                                            <p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>
                                            <p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>     
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                </div>
                                <div class="openbox-right">
                                	<h3><a href="">热门推荐</a></h3>
                                    <ul>
                                    	<li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <h3><a href="">优惠活动</a></h3>
                                    <div class="preferential-imgbox">
                                    	<img src="images/preferential-img01.png">
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    <!--展开菜单 结束-->
                    	<dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title01" href="">商标服务</a>
                            <p>
                            	<a href="">国内商标</a>&nbsp;&nbsp;
                                <a href="">国际商标</a>&nbsp;&nbsp;
                                <a href="">商标案件</a>
                            	
                            </p>
                            
                        </dd>
                        
                        <dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title02" href="">专利服务</a>
                            <p>
                                <a href="">专利代理</a>&nbsp;&nbsp;
                                <a href="">无效宣告请求</a>
                            </p>
                        </dd>
                      	<dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title03" href="">版权服务</a>
                            <p>
                                <a href="">著作权登记</a>&nbsp;&nbsp;
                                <a href="">著作权许可</a>&nbsp;&nbsp;<br>
                                <a href="">著作权转让</a>&nbsp;&nbsp;
                                <a href="">著作权维权</a>&nbsp;&nbsp;<br>
                                <a href="">著作权合同备案</a>&nbsp;&nbsp;
                                <a href="">事项登记</a>&nbsp;&nbsp;<br>
                                <a href="">著作权质权登记</a>&nbsp;&nbsp;<br>
                                <a href="">与著作权相关权利</a>
                            
                            </p>
                        </dd>
                        <dd class="mainnav-hover01">
                            <a class="mainnav-down-title" href="" style="padding:0; border:none 0;">
                            热门服务
                            <div class="hot">
                            	<div class="hotbox">
                                	<img src="images/hot01.png">
                                </div>
                            </div>
                            </a>
                            <p>
                                <a href="">商标设计</a>&nbsp;&nbsp;
                                <a href="">商标设计</a>&nbsp;&nbsp;
                                <a href="">商标设计</a>
                            </p>
                        </dd>
                    </dl>
                </div>
                <!--主菜单下拉框 结束-->
            </li>
            <li><a href="" class="indeximg">首页</a></li>
            <li><a href="">享优惠 </a></li>
            <li>
                <a href="">注商标</a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style="display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li>
                <a href="">申专利</a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style="display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li>
                <a href="">登版权 </a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style=" display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li><a href="">查攻略</a></li>
            <div style="clear:both;"></div>                                                       
        </ul>
    </div>
</div>
<!--主导航 结束-->

<!--个人中心 不开发票  开始-->
<div class="container">
	<div class="crumbs">
    	您的位置：
        <a href="">中细软服务平台</a>&gt;
        <a href="">个人中心</a>&gt;
        <a href="">我的订单</a>&gt;
        <a href="">订单管理</a>
    </div>
   <div class="left_nav float-left">
    	<h2 class="h2_bg1"><a href="">个人中心</a></h2>
        <ul>
            <li><a href="members_trader.html">交易人信息</a></li>
            <li class="last"><a href="members_growing.html">会员成长</a></li>
        </ul>
        <h2 class="h2_bg2"><a href="">订单管理</a></h2>
        <ul>
            <li class="last"><a href="members_allorder.html">已买的商品</a></li>
        </ul>
        <h2 class="h2_bg3"><a href="">商品活动</a></h2>
        <ul>
            <li class="last"><a href="members_coupon.html">我的优惠信息</a></li>
        </ul>
         <h2 class="h2_bg4"><a href="">账号设置</a></h2>
        <ul>
            <li><a href="members_account.html">我的账号</a></li>
            <li><a href="members_detail.html">账户明细</a></li>
            <li class="last"><a href="bindpaynum.html">账号安全</a></li>
        </ul>
    </div>
    <div class="members_right  invoiceexplain  float-right">
    	<p class="members_right_title">服务商城发票说明</p>
        <div class="invoiceexplain_box">
        	<h3>一、如何获取发票：</h3>
            <p class="text_indent">为保障您的合法权益，中细软商城为您开具国家税务局批准监制印制的增值税普通发票和增值税专用发票。发票是有效交易的重要凭据，可作为您单位报销的有效凭据，请您妥善保管。</p>
        	<p>1.如何获取增值税普通发票：下单时选择“增值税普通发票”自助开取，系统会自动根据您订单信息显示开票抬头以及开票内容，请您核对后提交订单。</p>
            <p>2.如何获得增值税专用发票：下单时选择“增值税专用发票 ”自助开取。</p>
            <p class="text_indent">首次开具增值税专用发票的顾客，需要提供加盖公章的</p>
            <p class="text_indent">①营业执照副本复印件②税务登记证副本复印件</p>
            <p class="text_indent">③一般纳税人资格证书或认定文件复印件</p>
            <p class="text_indent">④银行开户许可证复印件。填写资质信息后选择上传资质证件扫描件，收到您的开票资料后，我们会尽快审核，审核通过后我们会尽快为您开具发票。</p>
            <h3>二、发票开具及流程</h3>
            <p>1.增值税普通发票</p>
            <p class="text_indent">对于个人及不具有一般纳税人资格的企业客户、公司均开具普通发票，您可在“核对订单信息”页面，选择“普通发票”，系统会根据您的订单交易主体信息自动匹配发票抬头及根据交易的商品或服务明细开具发票内容不支持手动选择修改。如：“商标注册”
业务，商品名称我们将为您开具“商标注册”。</p>
			<p>2.增值税专用发票</p>
            <p>（1）增值税发票开具</p>
            <p class="text_indent">A:增值税专用发票只适用于具有一般纳税人资质的公司，不能为个人开具，开票抬头公司只限于本次交易订单主体公司的名称，内容只能选择商品及服务明细，不支持手动选择修改。 </p>
            <p class="text_indent">B:由于中华人民共和国增值税暂行条例第二十一条规定：向消费者个人销售货物或者应税劳务的，不得开具增值税专用发票
。因此，如果您使用POS刷卡、个人卡在线支付，需要开具增值税专用发票，需要提供相对应的公司委托您个人交易并付款的授权
委托书，加盖公司公章并请您签署，公司名称要求与增票抬头一致。</p>
			<P>（2）增值税专用发票申请流程：</P>
            <p class="text_indent"> 首次开具增值税专用发票的客户需要进行开具增值税专用发票资质认证。</p>
            <p class="text_indent">A:点击添加专票开具资质。</p>
            <p><img src="images/charter01.png" /> <img src="images/charter02.png" /> <img src="images/charter03.png" /> <img src="images/charter04.png" /></p>
            <p class="text_indent">B：填写公司信息</p>
            <p class="text_indent">—单位名称（必须是您公司营业执照上的全称）；</p>
            <p class="text_indent">—纳税人识别号（必须是您公司《税务登记证》的编号，一般为15位，请仔细核对后输入）；</p>
            <p class="text_indent">—注册地址（必须是您公司营业执照上的注册地址）；</p>
            <p class="text_indent">—电话（请提供能与您公司保持联系的有效电话）；</p>
            <p class="text_indent">—开户银行（必须是您公司银行开户许可证上的开户银行）；</p>
            <p class="text_indent">—银行账号（必须是您公司开户许可证上的银行账号）。</p>
            <p>注意：</p>
            <p>中细软根据您输入的信息开具增值税专用发票，请务必确保相关信息的真实准确性，如因填写失误造成发票开具错误，将会导致贵公司不
能及时入账及影响认证抵扣，中细软商城不会受理重新开具增值税专用发票的要求，请务必认真校对所填开票信息。</p>
        </div>
    </div>
    <div style="clear:both;"></div> 
</div>



<!--页脚 开始-->
<div class="footer">
  <div class="container">
   	<ul class="footerbox">
        	<li style="border-left:none 0;">
                <h3 class="footerimg01">预约方式</h3>
                <p><a href="">如何预约服务</a></p>
                <p><a href="">预约服务的好处</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li>
                <h3 class="footerimg02">服务方式</h3>
                <p><a href="">预约后怎么使用</a></p>
                <p><a href="">服务流程有哪些</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li>
                <h3 class="footerimg03">服务承诺</h3>
                <p><a href="">中细软资质</a></p>
                <p><a href="">预约服务的好处</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li class="footerweixin">
                <p>关注微信公众平台<br>
                    获得最新活动信息<br>
                    扫描二维码或添加<br>
                    “ 中华商标超市”<br>
                </p>
            </li>
            <div style=" clear:both"></div>
      </ul>
    </div>
</div>
<div class="copy">
	<div class="container">
    	<ul class="copybox">
        	<li>
            	<img src="images/logo.png">
            </li>
            <li>
            	<p>
                <a href="">公司简介</a>&nbsp;&nbsp;|&nbsp;  
                <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;     
                <a href="">招聘信息</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">服务导航</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">客服中心</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">企业资质</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">服务客户</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">合作伙伴</a>&nbsp;&nbsp;|&nbsp;     
                <a href="">意见反馈</a> 
                <br>
                中细软网络科技有限公司   版权所有 ©2002-2013  京ICP备11017069号-5  京公网安备 11010802012915号
                </p>
            </li>
            <li>
            	<img src="images/footer01.png">
            </li>
            <li>
            	<img src="images/footer02.png">
            </li>
            <li>
            	<img src="images/footer03.png">
            </li>
            <li>
            	<img src="images/footer04.png">
            </li>
        </ul>
    </div>
</div>

<!--页脚 结束-->

</body>
</html>
