<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>优惠券</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

<!--顶部导航 开始-->
<div class="topnav-box">
	<div class="container">
    	<ul class="topnav">
            <li style="margin-right:30px;">
                <span>liliyhu_1987,</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="a-red">退出</a>
            </li>
            <li class="font-size14" style="margin-right:110px;">
            	<a href="" class="topnav-personal a-red">个人中心</a>
                <!--个人中心下拉框 开始-->
                <div class="down" style="display:none;">
                    <dd class="downbox">
                    	<dl><a href="">订单管理</a></dl>
                        <dl><a href="">基本资料</a></dl>
                        <dl><a href="">安全中心</a></dl>
                        
                    </dd>
                </div>
                <!--个人中心下拉框 结束-->
            </li>
            
            <li>
            	<span class="color9">全国统一咨询热线：</span>&nbsp;&nbsp;
                <b class="font-size14" style="color:#bb0000">400-700-0065</b>
            </li>
            <li style="float:right; padding-right:15px;">
            	<a href=""  class="a-red">收藏</a>
            </li>
            <li style="float:right; padding-right:20px;">
            	<a href=""  class="a-red">设为首页 </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
<!--顶部导航 结束-->

<!--顶部搜索 开始-->
<div class="container top-search">
	<div class=" float-left">
    	<img src="images/logo.png">
    </div>
    <div class=" float-left">
    	<a class="mallname" href="">服务商城</a>
    </div>
    <div class=" float-right">
    	<a href="" class=" button"><img src="images/button05.png"></a>
    </div>
    <div class=" float-right">
    	<ul class="search">
        	
            <li class="">
            <a href="" class="font-size16 search-left">
            商&nbsp;标</a>
            <!--搜索下拉框 开始-->
                <div class="down search-down" style="display:none;">
                    <dl class="downbox" style="">
                        <dd><a href="">商&nbsp;标</a></dd>
                        <dd><a href="">商&nbsp;标</a></dd>
                        <dd><a href="">商&nbsp;标</a></dd>
                        
                    </dl>
                </div>
            <!--搜索下拉框 结束-->
            
            </li>
            
            <li><input type="text" value="注册商标请先查询，请输入商标名称，如王老吉"></li>
            <li><a href="" class=" button"><img src="images/button-search.png"></a></li>
            <div style="clear:both;"></div>
        </ul>
        <p class="search-info">
        	热搜词：
        	<a href="" class="a-red">海尔</a>&nbsp;&nbsp;&nbsp;  
            <a href="" class="a-red">ipad</a>&nbsp;&nbsp;&nbsp;     
            <a href="" class="a-red">苹果</a> &nbsp;&nbsp;&nbsp;    
            <a href="" class="a-red">三星</a>  
        </p>
    </div>
</div> 
<!--顶部搜索 结束-->

<!--主导航 开始-->
<div class="main-navbg">
	<div class="container">
    	<ul class="main-nav">
        	<li>
                <a href="" class="classification">全部分类</a>
                <!--主菜单下拉框 开始-->
                
              	<div class="mainnav-down" style="display:none;">
                	<dl class="mainnav-downbox">
                    	<!--展开菜单 开始-->
                    	<div class="mainnav-open" style="display:none;">
                            <div class="mainnav-openbox">
                            	<div class="openbox-left">
                                	<ul>
                                    	<li><a href="" class="openbox-text01">国内注册</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">国内</a>&nbsp;
                                                |&nbsp;<a href="">香港</a>&nbsp;
                                                |&nbsp;<a href="">澳门</a>&nbsp;
                                                |&nbsp;<a href="">台湾</a>&nbsp;
                                            </p>
                                                
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul>
                                    	<li><a href="" class="openbox-text01">国内注册</a></li>
                                        <li>
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p> 
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p>    
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p>              
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul>
                                    	<li><a href="" class="openbox-text01">商标设计</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">卡通人物</a>&nbsp;
                                                |&nbsp;<a href="">文字变形</a>&nbsp;
                                                |&nbsp;<a href="">澳门</a>&nbsp;
                                                |&nbsp;<a href="">台湾</a>&nbsp;
                                            </p>
                                             
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul style="border:none 0;">
                                    	<li><a href="" class="openbox-text01">商标案件</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>
                                            <p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>
                                            <p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>     
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                </div>
                                <div class="openbox-right">
                                	<h3><a href="">热门推荐</a></h3>
                                    <ul>
                                    	<li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <h3><a href="">优惠活动</a></h3>
                                    <div class="preferential-imgbox">
                                    	<img src="images/preferential-img01.png">
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    <!--展开菜单 结束-->
                    	<dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title01" href="">商标服务</a>
                            <p>
                            	<a href="">国内商标</a>&nbsp;&nbsp;
                                <a href="">国际商标</a>&nbsp;&nbsp;
                                <a href="">商标案件</a>
                            	
                            </p>
                            
                        </dd>
                        
                        <dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title02" href="">专利服务</a>
                            <p>
                                <a href="">专利代理</a>&nbsp;&nbsp;
                                <a href="">无效宣告请求</a>
                            </p>
                        </dd>
                      	<dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title03" href="">版权服务</a>
                            <p>
                                <a href="">著作权登记</a>&nbsp;&nbsp;
                                <a href="">著作权许可</a>&nbsp;&nbsp;<br>
                                <a href="">著作权转让</a>&nbsp;&nbsp;
                                <a href="">著作权维权</a>&nbsp;&nbsp;<br>
                                <a href="">著作权合同备案</a>&nbsp;&nbsp;
                                <a href="">事项登记</a>&nbsp;&nbsp;<br>
                                <a href="">著作权质权登记</a>&nbsp;&nbsp;<br>
                                <a href="">与著作权相关权利</a>
                            
                            </p>
                        </dd>
                        <dd class="mainnav-hover01">
                            <a class="mainnav-down-title" href="" style="padding:0; border:none 0;">
                            热门服务
                            <div class="hot">
                            	<div class="hotbox">
                                	<img src="images/hot01.png">
                                </div>
                            </div>
                            </a>
                            <p>
                                <a href="">商标设计</a>&nbsp;&nbsp;
                                <a href="">商标设计</a>&nbsp;&nbsp;
                                <a href="">商标设计</a>
                            </p>
                        </dd>
                    </dl>
                </div>
                <!--主菜单下拉框 结束-->
            </li>
            <li><a href="" class="indeximg">首页</a></li>
            <li><a href="">享优惠 </a></li>
            <li>
                <a href="">注商标</a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style="display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li>
                <a href="">申专利</a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style="display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li>
                <a href="">登版权 </a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style=" display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li><a href="">查攻略</a></li>
            <div style="clear:both;"></div>                                                       
        </ul>
    </div>
</div>
<!--主导航 结束-->

<!--个人中心   优惠券    开始-->
<div class="container">
	<div class="crumbs">
    	您的位置：
        <a href="">中细软服务平台</a>&gt;
        <a href="">个人中心</a>&gt;
        <a href="">我的订单</a>&gt;
        <a href="">订单管理</a>
    </div>
   <div class="left_nav float-left">
    	<h2 class="h2_bg1"><a href="">个人中心</a></h2>
        <ul>
            <li><a href="members_trader.html">交易人信息</a></li>
            <li class="last"><a href="members_growing.html">会员成长</a></li>
        </ul>
        <h2 class="h2_bg2"><a href="">订单管理</a></h2>
        <ul>
            <li class="last"><a href="members_allorder.html">已买的商品</a></li>
        </ul>
        <h2 class="h2_bg3"><a href="">商品活动</a></h2>
        <ul>
            <li class="last"><a href="members_coupon.html">我的优惠信息</a></li>
        </ul>
         <h2 class="h2_bg4"><a href="">账号设置</a></h2>
        <ul>
            <li><a href="members_account.html">我的账号</a></li>
            <li><a href="members_detail.html">账户明细</a></li>
            <li class="last"><a href="bindpaynum.html">账号安全</a></li>
        </ul>
    </div>
    <div class="members_right  coupon  float-right">
    	<p class="members_right_title coupon_title"> <span>优惠券</span> <a href="">编辑</a> </p>
        <ul>
        	<li>
              	<div class="coupon_info info1">
                  <p class="font36">￥1800.00</p>
                  <p>发行商：中细软集团</p>
                  <p>使用条件：</p>
                  <p>有效时间：</p>
            	</div>
                <div class="coupon_edit"><a href=""><img src="images/delete.png" /></a></div>
            </li>
            <li>
              	<div class="coupon_info info2">
                  <p class="font36">￥1800.00</p>
                  <p>发行商：中细软集团</p>
                  <p>使用条件：</p>
                  <p>有效时间：</p>
            	</div>
                <div class="coupon_edit"><a href=""><img src="images/delete.png" /></a></div>
            </li>
            <li>
              	<div class="coupon_info info2">
                  <p class="font36">￥1800.00</p>
                  <p>发行商：中细软集团</p>
                  <p>使用条件：</p>
                  <p>有效时间：</p>
            	</div>
                <div class="coupon_edit"><a href=""><img src="images/delete.png" /></a></div>
            </li>
            <li>
              	<div class="coupon_info info1">
                  <p class="font36">￥1800.00</p>
                  <p>发行商：中细软集团</p>
                  <p>使用条件：</p>
                  <p>有效时间：</p>
            	</div>
                <div class="coupon_edit"><a href=""><img src="images/delete.png" /></a></div>
            </li>
            <li>
              	<div class="coupon_info info2">
                  <p class="font36">￥1800.00</p>
                  <p>发行商：中细软集团</p>
                  <p>使用条件：</p>
                  <p>有效时间：</p>
            	</div>
                <div class="coupon_edit"><a href=""><img src="images/delete.png" /></a></div>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>  
</div>



<!--页脚 开始-->
<div class="footer">
  <div class="container">
   	<ul class="footerbox">
        	<li style="border-left:none 0;">
                <h3 class="footerimg01">预约方式</h3>
                <p><a href="">如何预约服务</a></p>
                <p><a href="">预约服务的好处</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li>
                <h3 class="footerimg02">服务方式</h3>
                <p><a href="">预约后怎么使用</a></p>
                <p><a href="">服务流程有哪些</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li>
                <h3 class="footerimg03">服务承诺</h3>
                <p><a href="">中细软资质</a></p>
                <p><a href="">预约服务的好处</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li class="footerweixin">
                <p>关注微信公众平台<br>
                    获得最新活动信息<br>
                    扫描二维码或添加<br>
                    “ 中华商标超市”<br>
                </p>
            </li>
            <div style=" clear:both"></div>
      </ul>
    </div>
</div>
<div class="copy">
	<div class="container">
    	<ul class="copybox">
        	<li>
            	<img src="images/logo.png">
            </li>
            <li>
            	<p>
                <a href="">公司简介</a>&nbsp;&nbsp;|&nbsp;  
                <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;     
                <a href="">招聘信息</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">服务导航</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">客服中心</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">企业资质</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">服务客户</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">合作伙伴</a>&nbsp;&nbsp;|&nbsp;     
                <a href="">意见反馈</a> 
                <br>
                中细软网络科技有限公司   版权所有 ©2002-2013  京ICP备11017069号-5  京公网安备 11010802012915号
                </p>
            </li>
            <li>
            	<img src="images/footer01.png">
            </li>
            <li>
            	<img src="images/footer02.png">
            </li>
            <li>
            	<img src="images/footer03.png">
            </li>
            <li>
            	<img src="images/footer04.png">
            </li>
        </ul>
    </div>
</div>

<!--页脚 结束-->


</body>
</html>
