<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>会员成长</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

<!--顶部导航 开始-->
<div class="topnav-box">
	<div class="container">
    	<ul class="topnav">
            <li style="margin-right:30px;">
                <span>liliyhu_1987,</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="" class="a-red">退出</a>
            </li>
            <li class="font-size14" style="margin-right:110px;">
            	<a href="" class="topnav-personal a-red">个人中心</a>
                <!--个人中心下拉框 开始-->
                <div class="down" style="display:none;">
                    <dd class="downbox">
                    	<dl><a href="">订单管理</a></dl>
                        <dl><a href="">基本资料</a></dl>
                        <dl><a href="">安全中心</a></dl>
                        
                    </dd>
                </div>
                <!--个人中心下拉框 结束-->
            </li>
            
            <li>
            	<span class="color9">全国统一咨询热线：</span>&nbsp;&nbsp;
                <b class="font-size14" style="color:#bb0000">400-700-0065</b>
            </li>
            <li style="float:right; padding-right:15px;">
            	<a href=""  class="a-red">收藏</a>
            </li>
            <li style="float:right; padding-right:20px;">
            	<a href=""  class="a-red">设为首页 </a>
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
</div>
<!--顶部导航 结束-->

<!--顶部搜索 开始-->
<div class="container top-search">
	<div class=" float-left">
    	<img src="images/logo.png">
    </div>
    <div class=" float-left">
    	<a class="mallname" href="">服务商城</a>
    </div>
    <div class=" float-right">
    	<a href="" class=" button"><img src="images/button05.png"></a>
    </div>
    <div class=" float-right">
    	<ul class="search">
        	
            <li class="">
            <a href="" class="font-size16 search-left">
            商&nbsp;标</a>
            <!--搜索下拉框 开始-->
                <div class="down search-down" style="display:none;">
                    <dl class="downbox" style="">
                        <dd><a href="">商&nbsp;标</a></dd>
                        <dd><a href="">商&nbsp;标</a></dd>
                        <dd><a href="">商&nbsp;标</a></dd>
                        
                    </dl>
                </div>
            <!--搜索下拉框 结束-->
            
            </li>
            
            <li><input type="text" value="注册商标请先查询，请输入商标名称，如王老吉"></li>
            <li><a href="" class=" button"><img src="images/button-search.png"></a></li>
            <div style="clear:both;"></div>
        </ul>
        <p class="search-info">
        	热搜词：
        	<a href="" class="a-red">海尔</a>&nbsp;&nbsp;&nbsp;  
            <a href="" class="a-red">ipad</a>&nbsp;&nbsp;&nbsp;     
            <a href="" class="a-red">苹果</a> &nbsp;&nbsp;&nbsp;    
            <a href="" class="a-red">三星</a>  
        </p>
    </div>
</div> 
<!--顶部搜索 结束-->

<!--主导航 开始-->
<div class="main-navbg">
	<div class="container">
    	<ul class="main-nav">
        	<li>
                <a href="" class="classification">全部分类</a>
                <!--主菜单下拉框 开始-->
                
              	<div class="mainnav-down" style="display:none;">
                	<dl class="mainnav-downbox">
                    	<!--展开菜单 开始-->
                    	<div class="mainnav-open" style="display:none;">
                            <div class="mainnav-openbox">
                            	<div class="openbox-left">
                                	<ul>
                                    	<li><a href="" class="openbox-text01">国内注册</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">国内</a>&nbsp;
                                                |&nbsp;<a href="">香港</a>&nbsp;
                                                |&nbsp;<a href="">澳门</a>&nbsp;
                                                |&nbsp;<a href="">台湾</a>&nbsp;
                                            </p>
                                                
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul>
                                    	<li><a href="" class="openbox-text01">国内注册</a></li>
                                        <li>
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p> 
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p>    
                                            <p> 
                                                |&nbsp;<a href="">马德里</a>&nbsp;
                                                |&nbsp;<a href="">欧盟</a>&nbsp;
                                                |&nbsp;<a href="">非洲联盟</a>&nbsp;
                                                |&nbsp;<a href="">美国</a>&nbsp;
                                                |&nbsp;<a href="">英国</a>&nbsp;
                                                |&nbsp;<a href="">俄罗斯</a>&nbsp;
                                            </p>              
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul>
                                    	<li><a href="" class="openbox-text01">商标设计</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">卡通人物</a>&nbsp;
                                                |&nbsp;<a href="">文字变形</a>&nbsp;
                                                |&nbsp;<a href="">澳门</a>&nbsp;
                                                |&nbsp;<a href="">台湾</a>&nbsp;
                                            </p>
                                             
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <ul style="border:none 0;">
                                    	<li><a href="" class="openbox-text01">商标案件</a></li>
                                        <li> 
                                        	<p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>
                                            <p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>
                                            <p>
                                                |&nbsp;<a href="">不规范商品补正</a>&nbsp;
                                                |&nbsp;<a href="">注册商标续展</a>&nbsp;
                                                |&nbsp;<a href="">注册商标宽展</a>&nbsp;
                                                |&nbsp;<a href="">转上注册商标</a>&nbsp;
                                            </p>     
                                        </li>
                                        <div style="clear:both"></div>
                                    </ul>
                                </div>
                                <div class="openbox-right">
                                	<h3><a href="">热门推荐</a></h3>
                                    <ul>
                                    	<li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <li><a href="">国内商标</a>&nbsp;&nbsp;<a href="">国内商标</a></li>
                                        <div style="clear:both"></div>
                                    </ul>
                                    <h3><a href="">优惠活动</a></h3>
                                    <div class="preferential-imgbox">
                                    	<img src="images/preferential-img01.png">
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                            </div>
                        </div>
                    <!--展开菜单 结束-->
                    	<dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title01" href="">商标服务</a>
                            <p>
                            	<a href="">国内商标</a>&nbsp;&nbsp;
                                <a href="">国际商标</a>&nbsp;&nbsp;
                                <a href="">商标案件</a>
                            	
                            </p>
                            
                        </dd>
                        
                        <dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title02" href="">专利服务</a>
                            <p>
                                <a href="">专利代理</a>&nbsp;&nbsp;
                                <a href="">无效宣告请求</a>
                            </p>
                        </dd>
                      	<dd class="mainnav-hover">
                            <a class="mainnav-down-title mainnav-down-title03" href="">版权服务</a>
                            <p>
                                <a href="">著作权登记</a>&nbsp;&nbsp;
                                <a href="">著作权许可</a>&nbsp;&nbsp;<br>
                                <a href="">著作权转让</a>&nbsp;&nbsp;
                                <a href="">著作权维权</a>&nbsp;&nbsp;<br>
                                <a href="">著作权合同备案</a>&nbsp;&nbsp;
                                <a href="">事项登记</a>&nbsp;&nbsp;<br>
                                <a href="">著作权质权登记</a>&nbsp;&nbsp;<br>
                                <a href="">与著作权相关权利</a>
                            
                            </p>
                        </dd>
                        <dd class="mainnav-hover01">
                            <a class="mainnav-down-title" href="" style="padding:0; border:none 0;">
                            热门服务
                            <div class="hot">
                            	<div class="hotbox">
                                	<img src="images/hot01.png">
                                </div>
                            </div>
                            </a>
                            <p>
                                <a href="">商标设计</a>&nbsp;&nbsp;
                                <a href="">商标设计</a>&nbsp;&nbsp;
                                <a href="">商标设计</a>
                            </p>
                        </dd>
                    </dl>
                </div>
                <!--主菜单下拉框 结束-->
            </li>
            <li><a href="" class="indeximg">首页</a></li>
            <li><a href="">享优惠 </a></li>
            <li>
                <a href="">注商标</a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style="display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li>
                <a href="">申专利</a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style="display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li>
                <a href="">登版权 </a>
                <!--注册下拉框 开始-->
                    <!--<div class="down mainxiala" style=" display:none">
                        <dl class="downbox" style="left:2px;">
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">国内注册</a></dd>
                            <dd><a href="">&nbsp;&nbsp;更多>></a></dd>
                            
                        </dl>
                    </div>-->
                <!--注册下拉框 结束-->
            </li>
            <li><a href="">查攻略</a></li>
            <div style="clear:both;"></div>                                                       
        </ul>
    </div>
</div>
<!--主导航 结束-->



<!--   个人中心 会员成长   开始-->
<div class="container">
	<div class="crumbs">
    	您的位置：
        <a href="">中细软服务平台</a>&gt;
        <a href="">个人中心</a>&gt;
        <a href="">我的订单</a>&gt;
        <a href="">订单管理</a>
    </div>
	<div class="left_nav float-left">
    	<h2 class="h2_bg1"><a href="">个人中心</a></h2>
        <ul>
            <li><a href="members_trader.html">交易人信息</a></li>
            <li class="last"><a href="members_growing.html">会员成长</a></li>
        </ul>
        <h2 class="h2_bg2"><a href="">订单管理</a></h2>
        <ul>
            <li class="last"><a href="members_allorder.html">已买的商品</a></li>
        </ul>
        <h2 class="h2_bg3"><a href="">商品活动</a></h2>
        <ul>
            <li class="last"><a href="members_coupon.html">我的优惠信息</a></li>
        </ul>
         <h2 class="h2_bg4"><a href="">账号设置</a></h2>
        <ul>
            <li><a href="members_account.html">我的账号</a></li>
            <li><a href="members_detail.html">账户明细</a></li>
            <li class="last"><a href="bindpaynum.html">账号安全</a></li>
        </ul>
    </div>
    <div class="members_right  growing  float-right">
    	<p class="members_right_title">会员成长</p>
        <ul class="growing_classify">
        	<li>
            	<p><a href=""><img src="images/members_growing_icon01.png" /></a></p>
                <p><a href="">我的成长</a></p>
            </li>
            <li>
            	<p><a href=""><img src="images/members_growing_icon02.png" /></a></p>
                <p><a href="">会员升级</a></p>
            </li>
            <li>
            	<p><a href=""><img src="images/members_growing_icon03.png" /></a></p>
                <p><a href="">会员全部特权</a></p>
            </li>
        </ul>
        <div class="my_classify">
        	<p><img src="images/grade03.png" /></p>
            <ul>
            	<li>(0)</li>
                <li>(300)</li>
                <li>(600)</li>
                <li>(1200)</li>
                <li>(2400)</li>
                <li>(4800)</li>
                <li>(4800<...)</li>
            </ul>
        </div>
        <ul class="my_classifyinfo">
        	<li>我当前的等级是：<img src="images/classify_03.png" align="absmiddle" /></li>
            <li>我目前的成长值是：<span class="colorf00">300</span></li>
            <li>我的细软币：<span class="colorf00">15</span></li>
        </ul>
        <p class="prompt">注明：积分仅作等级升级基础和参与活动级别划分，不作兑换</p>
        <p class="growing_title">会员成长介绍</p>
        <p class="classifyinfo">会员成长体系是为给处于不同成长阶段的中细软会员提供不同的更省钱，更尊贵，更贴心，更强大和更快捷的服务，以满足不同成长阶段的会员的需要，更多特权和服务就在您的身边。</p>
    	<p class="classifyinfo">会员成长体系包含7个会员等级，会员等级由“成长值”决定，成长值越高，会员等级越高。</p>
        <ul class="classify_introduce">
        	<li>(0-100) <br />普通会员</li>
            <li>(100-2000) <br />铜牌会员</li>
            <li>(2000-5000) <br />银牌会员</li>
            <li>(5000-20000) <br />金牌会员</li>
            <li>(20000-50000) <br />蓝钻会员</li>
            <li>(50000-100000) <br />双钻会员</li>
            <li>(100000&lt;...) <br />双钻会员</li>
        </ul>
        <h3>什么是成长积分？</h3>
        <p class="classifyinfo border_bottom"> 成长积分是中细软会员通过购物所获得的经验值，由累计金额计算获得，它标志着您在中细软累积的网购经验，成长积分等级越高，可享受更多的会员服务哦！</p>
    	<h3>如何获得成长积分？</h3>
        <ul class="growing_integral">
        	<li>会员=累计购物金额 会员=参与中细软指定的站内活动</li>
            <li>成长积分是中细软会员通过其他方式获得经验值，具体获得方式如下：</li>
            <li>A、企业或个人会员补充资料</li>
            <li>B、参与-中细软集团-举办的各项体验活动</li>
            <li>C、使用电子优惠券</li>
            <li>D、发起与“经纪人”对话</li>
            <li>E、推广我们的网站</li>
            <li>F、给经纪人评论</li>
            <li>G、注册（注册当日下单双倍积分）</li>
            <li>H、单笔满送活动</li>
            <li>I、成双成对活动</li>
        </ul>
        <p class="border_bottom"><a class="btn_confirm" href="">去获得成长值</a></p>
        <ul class="growing_nav">
        	<li>
            	<p><img src="images/members_growing_icon04.png" /></p>
                <p><h2>会员成长</h2></p>
                <p><a href="">什么是成长</a></p>
            	<p><a href="">会员等级</a></p>
            </li>
            <li>
            	<p><img src="images/members_growing_icon05.png" /></p>
                <p><h2>会员特权</h2></p>
                <p><a href="">什么是会员特权</a></p>
            	<p><a href="">会员专享</a></p>
            </li>
             <li>
            	<p><img src="images/members_growing_icon06.png" /></p>
                <p><h2>新手攻略</h2></p>
                <p><a href="">如何购物</a></p>
            	<p><a href="">新人礼包</a></p>
            </li>       
        </ul>    
    </div>
    <div style="clear:both;"></div> 
</div>

<!--页脚 开始-->
<div class="footer">
  <div class="container">
   	<ul class="footerbox">
        	<li style="border-left:none 0;">
                <h3 class="footerimg01">预约方式</h3>
                <p><a href="">如何预约服务</a></p>
                <p><a href="">预约服务的好处</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li>
                <h3 class="footerimg02">服务方式</h3>
                <p><a href="">预约后怎么使用</a></p>
                <p><a href="">服务流程有哪些</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li>
                <h3 class="footerimg03">服务承诺</h3>
                <p><a href="">中细软资质</a></p>
                <p><a href="">预约服务的好处</a></p>
                <p><a href="">预约后可以取消吗</a></p>
            </li>
            <li class="footerweixin">
                <p>关注微信公众平台<br>
                    获得最新活动信息<br>
                    扫描二维码或添加<br>
                    “ 中华商标超市”<br>
                </p>
            </li>
            <div style=" clear:both"></div>
      </ul>
    </div>
</div>
<div class="copy">
	<div class="container">
    	<ul class="copybox">
        	<li>
            	<img src="images/logo.png">
            </li>
            <li>
            	<p>
                <a href="">公司简介</a>&nbsp;&nbsp;|&nbsp;  
                <a href="">联系方式</a>&nbsp;&nbsp;|&nbsp;     
                <a href="">招聘信息</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">服务导航</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">客服中心</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">企业资质</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">服务客户</a>&nbsp;&nbsp;|&nbsp;      
                <a href="">合作伙伴</a>&nbsp;&nbsp;|&nbsp;     
                <a href="">意见反馈</a> 
                <br>
                中细软网络科技有限公司   版权所有 ©2002-2013  京ICP备11017069号-5  京公网安备 11010802012915号
                </p>
            </li>
            <li>
            	<img src="images/footer01.png">
            </li>
            <li>
            	<img src="images/footer02.png">
            </li>
            <li>
            	<img src="images/footer03.png">
            </li>
            <li>
            	<img src="images/footer04.png">
            </li>
        </ul>
    </div>
</div>
<!--页脚 结束-->





</body>
</html>
