<!--顶部导航 开始-->
<include file="Public/header" />

<!--个人中心 安全中心 修改密码 开始-->
<div class="container">
	<div class="crumbs">
    	您的位置：
        <a href="">中细软服务平台</a>&gt;
        <a href="">个人中心</a>&gt;
        <a href="">我的订单</a>&gt;
        <a href="">订单管理</a>
    </div>
	<include file="Public/ucenter_left"/>
    <div class="members_right  account_safyte float-right">
    	<p class="members_right_title">账号安全</p>
          <table class="account_safyteinfo">
          	  <tr>
              	<th colspan="3">修改密码</th>
              </tr>
              <tr>
              	<td colspan="3"><p class="prompt">！安全提示：请妥善保管密码！中细软网工作人员不会以任何理由向您索取密码。</p></td>
              </tr>
              <tr>
                  <td width="104" class="text-right">手机号码：</td>
                  <td width="343" class="text-left">
                  	<div class="phone_num">
                    	<input class="text" type="text" value="{$acinfo['bind_mobile']}" disabled="true" id="phone"/><input class="btn" onclick="send_dx()" id="submitPhone" type="button" value="发送" />
                    
                        </div>
                      <span id="success"></span>
                  </td>
                  <td width="517" class="text-left color9">亲如果您未绑定手机号码，请您 <a class="colorf00" href="">绑定手机号码</a></td>
              </tr>
             
              <tr>
                  <td class="text-right">短信验证码：</td>
                  <td class="text-left"><input class="lineheight29" type="text" size="30" onblur="CheckYzm()" id="yzm"/></td>
                  <td class="text-left color9" id="messageb">请输入收到的短信验证码</td>
              </tr>
               <tr>
                  <td class="text-right padding_bottom30"></td>
                  <td class="text-left padding_bottom30"><input class="button_save" type="button" value="确认" onclick="return VerifiCation()"></td>
                  <td></td>
              </tr>  
          </table>              
    </div>
    <div style="clear:both;"></div> 
</div>

<!--个人中心 安全中心 修改密码 结束-->

<include file="Public/footer" />
<script language="javascript" src="{$Think.HOME_JS}ucenter/bindphone_1.js"></script>
