<html>
<head>
<title>中细软服务商城</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>

<frameset rows="106,*" cols="*" frameborder="no" border="0" framespacing="0" >
    <frame src="/Admin/index/sheader" id="topFrame" name="top" scrolling="no">
    <frameset cols="210,*" id="bodyFrame"  frameborder="no" border="0" framespacing="0" >
        <frame src="/Admin/Index/left" name="menu" id="menu" scrolling="auto">
        <frame src="" name="main" id="main" scrolling="auto">
    </frameset>
</frameset>
<noframes></noframes>
</html>
