<table>
                        	<tr>
                            	<td class="jrdd">
                                    	<p class="amount">{$order_time["old_data"]["new_order"]}</p>
                                        <p>生成新订单</p>
                                </td>
                                <td>
								
                                </td>
                                <td class="xxzf">
                                	<p class="amount">{$order_time["old_data"]["down_order"]}</p>
                                        <p>线下支付确认订单</p>
                                </td>
                                <td>
								
                                </td>
                            </tr>
                            <tr>
                            	<td class="jrfk">
                                    	<p class="amount">{$order_time["old_data"]["pay_order"]}</p>
                                        <p>付款订单</p>
                                </td>
                                <td>
								
                                	
                                </td>
                            <td class="volume">
                                	<p class="total">￥{$order_time["old_data"]["total"]}</p>
                                        <p>成交额</p>
                                </td>
                                <td>
									
                                </td>
                            </tr>
                        </table>