<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>活动管理</title>
<link href="{$Think.ADMIN_CSS}global.css" rel="stylesheet" type="text/css">
<link href="{$Think.ADMIN_CSS}g_style.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div class="content_right">
    <div class="indent"></div>
    <div class="link_path">您所在的位置：<a href="/Admin/Operation/coupon">运营管理</a>&nbsp;>&nbsp;<a href="javascript:void(0)">活动管理</a></div>
    <div class="promotion"><b>活动管理</b></div>
    <form action="/admin/operation/searchActivity" method="get" name="search" >
    <div class="table_list casePay s" style="border:none;padding-top:49px;">
    
      <div class="case_search">活动类型：
        <select class="goodstype" name="keywords">
          <option value="0" >--请选择活动类型--</option>
          <option value="1" <if condition="('1' eq $keywords)">selected </if>>单品促销</option>
          <option value="2" <if condition="('2' eq $keywords)">selected </if>>优惠卷</option>
        <!--   <option value="3" <if condition="('3' eq $keywords)">selected </if>>送盘缠</option> -->
        </select>
        &nbsp;&nbsp;活动时间：
        <input class="search_text" type="text" <if condition="( $buy_timeb neq '' )"> value="{$buy_timeb}" <else/>value=""</if> id="" name="buy_timeb" onclick="SelectDate(this,'yyyy-MM-dd hh:mm')"/>
         至
        <input class="search_text" type="text" <if condition="( $buy_timeend neq '' )"> value="{$buy_timeend}" <else/>value=""</if> id="" name="buy_timeend" onclick="SelectDate(this,'yyyy-MM-dd hh:mm')"/>
        
       
		<input type="submit" class="search_btn" value="搜索" name="input">
      </div>
	  <ul class="g_active">
	  <foreach name='list' item='val'  >
		<li class="ga_li">
			<div class="g_top">
				<p><a href='/Admin/Operation/activityDetail/id/{$val.id}'>{$val.name}</p>
			</div>
			<div class="g_main">
				<div class="g_middle">
				<if condition="($val['num'] gt 0)">
					<p class="gm_p"><a href='/Admin/Operation/activityDetail/id/{$val.id}'>&#147;指定商品买赠活动&#148;</a></p>
					<p><a href='/Admin/Operation/activityDetail/id/{$val.id}'>活动商品数为<span class="gr_span">{$val.num}</span></a>件</p>
				<else/>
					<p class="gm_p">优惠卷促销</p>
					<p><a href='/Admin/Operation/activityDetail/id/{$val.id}'>优惠卷金额 ￥<span class="gr_span">{$val.money}</span></a></p>
				</if>
				</div>
				<div class="g_bottom">
					<div class="gb_p"><a href='/Admin/Operation/activityDetail/id/{$val.id}'><p>活动时间</p><p>{$val.startTime|date='Y-m-d',###}&nbsp;至&nbsp;{$val.endTime|date='Y-m-d',###}</p></a></div>
					<div class="clear"></div>
				</div>
			</div>
		</li>
		</foreach>					
		<div class="clear"></div>
	  </ul>
	  
	  
	  
      
    </div>    
    <div class="pageNew">
    
            {$page}
   
     
    </div>
	</form>
  </div>

</body>
</html>
<script type="text/javascript" src="{$Think.ADMIN_JS}jquery-1.7.2.min.js"></script>
<script type="text/javascript">
	$(".ga_li").click(function(){
		$(this).each(function(){
			window.location.href="activity_detail.html";
		});
	});
</script>
<script type="text/javascript" src="{$Think.ADMIN_JS}Calendar1.js"></script>
