<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加购物车商品01</title>
<link href="{$Think.ADMIN_CSS}global.css" rel="stylesheet" type="text/css">
<link href="{$Think.ADMIN_CSS}m_style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{$Think.ADMIN_JS}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$Think.ADMIN_JS}guest.js?aa=<?php echo mt_rand(10000000,99999999);?>"></script>
</head>

<body>
<div class="content_right addproducts addproducts01">
    <div id="indent" class="indent" onClick="changeWin()"></div>
    <div class="link_path">您所在的位置：<a href="/index.php/Admin/Guest/lists">客官管理 </a>&nbsp;>&nbsp;<a href="javascript:void(0)">添加购物车商品</a></div>
    <div class="addproducts_box">
    	<div class="title"><span>{$user.truename}  {$user.mobile}</span> <a href="javascript:history.go(-1);">返回</a></div>
        <div class="addproductsinfo">
            <form id="sfrm" name="sfrm" action="/Admin/Guest/addMemOrder" method="post" >
                <input type="hidden" id="typefrm" name="typefrm" value="" />
                <input type="hidden" id="uid" name="uid" value="{$uid}" />
            <div class="filter01">
                <select class="select130_30" name="oneType" id="oneType" onchange="addTwo(this.value)">
                    <option selected="selected">==请选择==</option>
                    <foreach name="oneType" item="vo" >
                    <option value="{$vo.id}" <if condition="$oneType eq $vo.id "> selected</if>  >{$vo.server_name}</option>
                    </foreach>
                </select>
                <img src="{$Think.ADMIN_IMAGES}w_icon01.png" />
                <select id="twoType" name="twoType" class="select130_30" onchange="addThree(this.value)">
                	<option>==请选择==</option> 
                </select>
                <img src="{$Think.ADMIN_IMAGES}w_icon01.png" />
                <select id="threeType" name="threeType" class="select130_30">
                	<option>==请选择==</option>
                </select>
                <input class="btn_confirm" type="button" onclick="typeRrm()" value="确定" />
            </div>
            </form>
        </div>   
    </div>

</div>

<script type="text/javascript">
//菜单缩放
  openclose=true;
  function changeWin(){ 
      parent.bodyFrame.cols =openclose?"1,*":"210,*";//这句话有报错
      $(".indent").toggleClass('ind');
      openclose=!openclose;
  }
</script>
</body>