<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加购物车商品</title>
<link href="{$Think.ADMIN_CSS}global.css" rel="stylesheet" type="text/css">
<link href="{$Think.ADMIN_CSS}m_style.css?a=<?php echo mt_rand(10000000,99999999);?>" rel="stylesheet" type="text/css">

</head>

<body>
<div class="content_right addproducts">
    <div id="indent" class="indent" onClick="changeWin()"></div>
    <div class="link_path">您所在的位置：<a href="/index.php/Admin/Guest/lists">客官管理 </a>&nbsp;>&nbsp;<a href="javascript:void(0)">添加购物车商品</a></div>
    <div class="addproducts_box">
    	<div class="title"><span>{$user.truename}  {$user.mobile}</span> <a onclick="javascript:history.go(-1);">返回</a></div>
        <div class="addproductsinfo">
            <form id="sfrm" name="sfrm" action="/Admin/Guest/addMemOrder" method="post" >
                <input type="hidden" id="typefrm" name="typefrm" value="" />

            <div class="filter01">
                <select class="select130_30" name="oneType" id="oneType" onchange="addTwo(this.value)">
                    <option selected="selected">==请选择==</option>
                    <foreach name="oneType" item="vo" >
                    <option value="{$vo.id}" <if condition="$oneTypeid eq $vo.id "> selected</if>  >{$vo.server_name}</option>
                    </foreach>
                </select>
                <img src="{$Think.ADMIN_IMAGES}w_icon01.png" />
                <select id="twoType" name="twoType" class="select130_30" onchange="addThree(this.value)">
                	<option>==请选择==</option> 
                </select>
                <img src="{$Think.ADMIN_IMAGES}w_icon01.png" />
                <select id="threeType" name="threeType" class="select130_30">
                	<option>==请选择==</option>
                </select>
                <input class="btn_confirm" type="button" onclick="typeRrm()" value="确定" />
            </div>
            </form>
               
        
        <form id="SBfrm" name="SBfrm" action="/Admin/Guest/addSBMemOrder" method="post" enctype="multipart/form-data">
            <input type="hidden" id="short_title" name="short_title" value="{$short_title}" />
            <input type="hidden" id="cartId" name="cartId" value="{$cartId}" />
            <input type="hidden" id="orderId" name="orderId" value="{$orderId}" />
            <input type="hidden" id="uid" name="uid" value="{$uid}" />
            
            <div class="filter02"><span class="colf00">*</span>商标名称：<input class="text300" type="text" id="name" name="name"  value="请输入商标名称"    style="color:#ccc;" onFocus="javascript:this.style.color='#333';if(this.value=='请输入商标名称')this.value='';" onBlur="javascript:if(this.value==''){this.value='请输入商标名称';this.style.color='#ccc';}"  /></div>
            
            <ul class="filter03">
                
             <foreach name="bigtype" item="vo" >   
                <li id="{$vo.cat_id}"><label><input type="hidden" value="false" class="i1"/><input type="hidden" class="i2" value="{$vo.cat_id}"/> {$vo.cat_name}</label></li>
             </foreach>
     
            </ul>
            <table class="filter04 hide" id="trademarklist">
            	<tr>
                    <th width="10%">商标类别</th>
                    <th width="10%">商品价</th>
                    <th width="10%">增项个数
                        <a href="javascript:void(0)">
                            <img src="{$Think.ADMIN_IMAGES}w_icon03.png" />
                            <p>请选择商标类别，超过10个项目每项增收100元</p>
                        </a>
                    </th>
                    <th width="10%">增项价</th>
                    <th width="38%">商品/服务项目
                        <a href="javascript:void(0)">
                            <img src="{$Think.ADMIN_IMAGES}w_icon03.png" />
                            <p>请输入商品/服务项目，按照如下格式输入<br>“1、肉；2、腌制，干制的肉；3、家禽（非活动）；4、非活水产品；5、蛋品；6、罐头制品；7、浓肉汤；8、卤肉；9、酱肉；10食用油；（截止）”</p>
                        </a>
                    </th>
                    <th width="10%">服务价（元）</th>
                    <th width="10%">操作</th>
                </tr>

                <tr id="paymentid">
                	<td class="payment" colspan="7">应付总额：<b>￥<span>1590</span>.00</b></td>
                </tr>
            </table>
        	
            <table class="filter05">
            	<tr>
                    <td class="text-right ver_top" width="20%">商标申请声明：</td>
                    <td class="text-left">
                    	<p><input name="need_state[]" type="checkbox" value="1" />集体商标  <input name="need_state[]" type="checkbox" value="2"/>证明商标</p>
                        <p><input name="need_state[]" type="checkbox" value="3" />以三维标志申请商标注册</p>
                        <p><input name="need_state[]" type="checkbox" value="4" />以颜色组合申请商标注册</p>
                        <p><input name="need_state[]" type="checkbox" value="5" />以声音标志申请商标注册</p>
                        <p><input name="need_state[]" type="checkbox" value="6"/>两个以上申请人共同申请注册同一商标</p>
                        
                    </td>
                </tr>
                <tr>
                	<td class="text-right">要求优先权声明：</td>
                    <td class="text-left"><input name="need_prior[]" type="checkbox" value="1"/>基于第一次申请的优先权  <input name="need_prior[]" type="checkbox" value="2"/>基于展会的优先权   <input name="need_prior[]" type="checkbox" value="3" />优先权证明文件后补</td>
                </tr>
                <tr>
                    <td class="text-right">申请/长出国家/地区：</td>
                    <td class="text-left"><input class="text300" type="text" name="area"/></td>
                </tr>
                <tr>
                	<td class="text-right">申请/展出日期：</td>
                    <td class="text-left"><input type="text" class="text300"  name="need_time"  onclick="SelectDate(this,'yyyy-MM-dd')"/> </td>
                </tr>
                <tr>
                	<td class="text-right">申请号：</td>
                    <td class="text-left"><input class="text300" type="text" name="need_number" /></td>
                </tr>
                <tr>
                    <td class="text-right">商标申请人：</td>
                    <td class="text-left">
                    	<select id="shenqing" name="shenqing" class="select130_30">
                            <option>请选择申请人</option>
                        </select>
                    </td>
                </tr>

                <tr>
               	  <td class="text-right ver_top"><span class="clof00">*</span>商标图样：</td>
                    <td class="text-left"><img width="150" height="150" id="images" src="{$Think.ADMIN_IMAGES}w_icon02.png" /><input type="file" name="file" id="file" size="30" style="margin-top:10px; margin-left:20px; margin-bottom:10px;" onchange="javascript:setImagePreview();"/></td>
                </tr>
            </table>
            
        <div class="collect">
        	<div><span class="wid01">服务商品：</span> <span class="wid02"><em class="em1">0</em>个</span></div>
            <div><span class="wid01">共计：</span> <span class="wid02 colf00">￥<em class="em2">0</em>.00</span></div>
        </div> 
        <input type="hidden" id="GNSave" name="GNSave" value="" />
    </form>
    </div>       
</div>
    <div class="btn">
       
        <input class="btn_confirm" type="button" onclick="sendToTemp('1');" value="保存" /> <input class="save_go" onclick="sendToTemp('2');" type="button" value="保存并继续添加" /> <input class="unsave" onclick="javascript:history.go(-1);" type="button" value="不保存返回" />
    </div>
    
        
    
</div>
<!--商标类别二级三级弹框开始-->
<div class="alertW hide">
    <div class="alertW_box">
        <input type="hidden" id='hicount' name='hicount' value='' />
        <input type="hidden" id='twohidden' name='twohidden' value='' />
        <input type="hidden" id='threehidden' name='threehidden' value='' />
        <div class="alertw_box_title"><span class="span">第25类 服装鞋帽</span><input type="hidden" class="spanid" /><a class="close" href="javascript:void(0)" onclick="closeAlertWBtn()"></a></div>
        <div class="alertW_box_content">
            <div class="alertW_box_content_t">
                <div class="alertW_box_content_left">
                    <p class="alertW_box_name">群类</p>
                    <input type="text" class="alertW_box_input" placeholder="请输入群组关键词"/>
                    <div id="twoSBObjParent">

                    </div>
                </div>
                <div class="alertW_box_content_right">
                    <p class="alertW_box_name">类别</p>
                    <input type="text" class="alertW_box_input" placeholder="请输入类别关键词"/>
                    <div id="threeSBObjParent">
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="alertW_box_other">已选择群组<span id='groupcount' class="span1">0</span>&nbsp;&nbsp;&nbsp;&nbsp;类别<span id="typecount" class="span2">0</span><input class="btn_confirm" type="button" value="确 认" style="float: right;font-size: 16px;height: 36px;line-height: 36px;width: 100px;" onclick="sureAlertWBtn()"></div>
    </div>
</div>
<!--商标类别二级三级弹框开始-->
<script type="text/javascript" src="{$Think.ADMIN_JS}jquery-1.7.2.min.js"></script>
<script type="text/javascript">
//菜单缩放
openclose=true;
function changeWin(){ 
      parent.bodyFrame.cols =openclose?"1,*":"210,*";//这句话有报错
      $(".indent").toggleClass('ind');
      openclose=!openclose;
}
//应付总额的计算，服务商品个数和总价的计算
function paymentSumF(){
    var paymentSumObj = $('.addproducts .addproducts_box .addproductsinfo .filter04 tr td.td6');
    var paymentSum =0;
    for (var i = 0; i < paymentSumObj.length; i++) {
        paymentSum += parseInt(paymentSumObj.eq(i).html().substring(1));
    };
    //alert(paymentSum);
    $("#paymentid").find("span").html(paymentSum);
    $('.addproducts .addproducts_box .collect .wid02 .em1').html(paymentSumObj.length);//商品个数
    $('.addproducts .addproducts_box .collect .wid02 .em2').html(paymentSum);//商品总价
}
function loadTwoSB(oneID){
    
    SetCookie('checkedID',oneID);
    //根据一级的ID查询出来二级数据
    if( oneID ){
        $.ajax({
            type: 'POST',
            url:"/index.php/Admin/Guest/getTwoType", 
            data:{"type":"getTwoType","oneID":oneID},

            success: function( result ){
                if( result ){
                    $('.alertW_box_two').remove();
                    var twoSBData = eval(result);
                    var twoSBObj = $('<ul class="alertW_box_two" id="pid_'+oneID+'"></ul>');
                    $('#twoSBObjParent').append(twoSBObj);
                    if(twoSBData.length>0){
                        //此一级下面有二级
                        var twoSBhtml = '';
                        for (var i=0; i < twoSBData.length; i++) {
                            //判断cookie里面是否有 有则选中
                            if( getCookie('Two_'+twoSBData[i].item_id) ){ var className = 'bs3 threecheck'; var status='2';}
                            else{ var className = 'bs3';var status='1';}
                            
                            twoSBhtml += '<li id="' + twoSBData[i].id + '"><a href="javascript:void(0)" title="' + twoSBData[i].name + '"><span onclick="checkThreeSB(' + twoSBData[i].item_id + ',1);" class="s1">' + twoSBData[i].name + '</span><span class="s2"><i class="b1">0</i>/<i class="b2">' + twoSBData[i].childsum + '</i></span><b id="cc_' + twoSBData[i].item_id + '" onclick="checkMyNeed(' + twoSBData[i].item_id + ','+status+',' + twoSBData[i].childsum + ')" class="'+className+'"></b></a></li>';
                        }
                        //alert(twoSBhtml);
                        twoSBObj.append($(twoSBhtml));
                           
                    }else{
                        alert('此一级下面没有二级类别！');
                    }  
                }
            }
        });
    }

  
}

function checkThreeSB(twoID,xzFlag){
    if( twoID ){
        var checkedID = getCookie('checkedID');
        var type = getCookie('TWOTYPE_'+checkedID)? getCookie('TWOTYPE_'+checkedID):'';
        
        $.ajax({
            type: 'POST',
            url:"/index.php/Admin/Guest/checkThreeSB", 
            data:{"type":"checkThreeSB","twoID":twoID},

            success: function( result ){
                
                if( result ){
                   // alert(result);
                        $('.alertW_box_three').remove();
                        var threeSBObj = $('<ul class="alertW_box_three" id="pid_'+twoID+'"></ul>');
                        $('#threeSBObjParent').append(threeSBObj);
                        var threeSBData = eval(result);
                        
                        var threeSBhtml = '';
                        for (var i=0; i < threeSBData.length; i++) {
                            if( xzFlag===1 ){
                                //判断cookie里面是否有 有则选中
                                if( getCookie(threeSBData[i].id) ) { var className = 'check'; var status = '1';}
                                else{ var className = '';var status = '2';}
                                
                                threeSBhtml += '<li id="t_' + threeSBData[i].id + '"><a class="'+className+'" id="thr_'+ threeSBData[i].id+'"  title="' + threeSBData[i].name + '">' + threeSBData[i].name + '<b id="change_'+ threeSBData[i].id+'" onclick="changeStatus(\''+ threeSBData[i].id+'\','+status+','+twoID+')"></b></a></li>';
                            }else{
                                //全选
                                SetCookie(threeSBData[i].id,threeSBData[i].name);
                                var subtype = getCookie('subtype_'+checkedID)? getCookie('subtype_'+checkedID):'';
                                SetCookie('subtype_'+checkedID,trim(subtype)+' '+threeSBData[i].id+' ');
                                threeSBhtml += '<li id="t_' + threeSBData[i].id + '"><a id="thr_'+ threeSBData[i].id+'"   title="' + threeSBData[i].name + '">' + threeSBData[i].name + '<b id="change_'+ threeSBData[i].id+'" onclick="changeStatus(\''+ threeSBData[i].id+'\',1,'+twoID+')"></b></a></li>';
                            }
                            //反选删除小类cookie
                            if( xzFlag ==='00'){

                                delCookie(threeSBData[i].id);
                                //记录所有所有选项
                               var subtype = getCookie('subtype_'+checkedID)? getCookie('subtype_'+checkedID):'';
                               var regS = new RegExp(""+threeSBData[i].id+" ","g");
                               var res = subtype.replace(regS,"");
                               SetCookie('subtype_'+checkedID,res);
                            }
                        };

                        //反选 删除大类cookie
                        if( xzFlag ==='00'){
                                delCookie( twoID );
                                //计算二级小项个数存入cookie
                                var regS = new RegExp(""+twoID+" ","g");
                                var res = type.replace(regS,"");
                               
                                SetCookie('TWOTYPE_'+checkedID,res);     
                        }
                        //alert(threeSBhtml);
                        threeSBObj.append($(threeSBhtml) );
                        
                        if(xzFlag === '99') { //全选
                            SetCookie('Two_'+twoID,'1');
                            
                            SetCookie('TWOTYPE_'+checkedID,trim(type)+' '+twoID+' ');
                            
                            $('#pid_'+twoID).find('a').addClass("check");
                        }
                        
                        getNumCount();  
                }
            }
        });
    }
}

function checkMyNeed( Tid ,fg ,num){

    //全选
    if( fg === 1 ) {
        $('#cc_'+Tid).attr('onclick','checkMyNeed('+Tid+',2,\''+Tid+'\','+num+')');
        checkThreeSB(Tid,'99');
        
        $('#cc_'+Tid).addClass("bs3 threecheck");
    }
    //反选
    if( fg === 2 ) {
        //删除二级大类cookie
        delCookie('Two_'+Tid);
        $('#cc_'+Tid).attr('onclick','checkMyNeed('+Tid+',1,\''+Tid+'\','+num+')');
        checkThreeSB(Tid,'00');
        
        $('#cc_'+Tid).removeClass("threecheck");
    }
}

function changeStatus( id,fg ,twoID){
    var checkedID = getCookie('checkedID');
    var type = getCookie('TWOTYPE_'+checkedID)? getCookie('TWOTYPE_'+checkedID):'';
    var subtype = getCookie('subtype_'+checkedID)? getCookie('subtype_'+checkedID):'';
    if( fg ===1) {
        delCookie(id);
        var subtype = getCookie('subtype_'+checkedID)? getCookie('subtype_'+checkedID):'';
        var regS = new RegExp(""+id+" ","g");
        var res = subtype.replace(regS,"");
        SetCookie('subtype_'+checkedID,res);
        $('#thr_'+id).removeClass("check");
        $('#change_'+id).attr('onclick','changeStatus(\''+id+'\',2,'+twoID+')');
    }
    if( fg ===2) {
        //设置小类和二级类
        SetCookie(id,$('#thr_'+id).text());
        SetCookie('Two_'+twoID,'1');
        
        var regS = new RegExp(""+twoID+" ","g");
        var res = type.replace(regS,"");
        SetCookie('TWOTYPE_'+checkedID,trim(res)+' '+twoID+' ');
        SetCookie('subtype_'+checkedID,trim(subtype)+' '+id+' ');
        
        $('#thr_'+id).addClass("check");
        $('#cc_'+twoID).addClass("bs3 threecheck");
        $('#change_'+id).attr('onclick','changeStatus(\''+id+'\',1,'+twoID+')');
    }
    getNumCount();
}

//计算个数
function getNumCount( ){
    var str = getCookie('TWOTYPE_'+getCookie('checkedID'));

    if( trim(str) ){ var groupcount = trim(str).split(' ').length;}
    else{ var groupcount = 0;}
    $('#groupcount').html(groupcount);
    
    var sub = getCookie('subtype_'+getCookie('checkedID'));

    if( trim(sub) ){
        var typecount = trim(sub).split(' ').length;
    }else{
        var typecount = 0;
        SetCookie('TWOTYPE_'+getCookie('checkedID'),'');
        $('#groupcount').html('0');
    }
    $('#typecount').html(typecount);  
}

function trim(str){ //删除左右两端的空格
　　     return str.replace(/(^\s*)|(\s*$)/g, "");
}
//写入cookie
function SetCookie(name,value)
{
    var Days = 7; //此 cookie 将被保存 7 天
    var exp = new Date();
    exp.setTime(exp.getTime() + Days*24*60*60*1000);
    document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
}

///删除cookie
function delCookie(name)
{
    var exp = new Date();
    exp.setTime(exp.getTime() - 1);
    var cval=getCookie(name);
    if(cval!==null) document.cookie= name + "="+cval+";expires="+exp.toGMTString();
}

//读取cookie
function getCookie(name)
{
    var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
    if(arr !== null)
    return unescape(arr[2]);
    return null;
}

function closeAlertWBtn(){
    $('.alertW').hide();
    $('.alertW_box_other .span1').html('0');
    $('.alertW_box_other .span2').html('0');
    $('#twoSBObjParent').html('');
    $('#threeSBObjParent').html('');
    var curOneID = $('.alertw_box_title .spanid').val(),//一级ID
        curOneIDObj = $('#'+curOneID);
    checkboxNum--;
    curOneIDObj.find('label').removeClass('checked');
    curOneIDObj.find("input[type='hidden'].i1").val('false');
}

//确认按钮，同时回填显示选中的商标类别。
function sureAlertWBtn(){
    var threeSBSum = $('.alertW_box_other .span2').html();//三级个数
    if(parseInt(threeSBSum)<=0){
        alert('请选择商标类别！');
        return false;
    }
    var threeSBNames = '';
    var oneSBID = $('.alertw_box_title .spanid').val(),//一级ID
        oneSBhtml = $('.alertw_box_title .span').html();//一级名称  
    var checkedID = getCookie('checkedID');
    var subtype = getCookie('subtype_'+checkedID);
    if(subtype){
        var types = trim(subtype).split(' ');
        for( var i = 1; i <= types.length; i++ ){
            threeSBNames += i+'、'+getCookie(types[i-1])+';';
        }
    }
    threeSBNames += '(截止)';
     //   threeSBNames = "1、肉；2、腌制，干制的肉；3、家禽（非活动）；4、非活水产品；5、蛋品；6、罐头制品；7、浓肉汤；8、卤肉；9、酱肉；10食用油；（截止）";//三级内容集
    //判断此个是否存在，是编辑后的确定还是新增时候的确定。
    var trademarklistTrObj_old = $("#trademarklist_"+oneSBID),
        trademarklistTrObj;
        
    if(trademarklistTrObj_old.length>0){
        trademarklistTrObj_old.html('');
        trademarklistTrObj = trademarklistTrObj_old;
    }else{
        trademarklistTrObj = $('<tr id="trademarklist_'+oneSBID+'"><input type="hidden" name="subnum[]" value="'+types.length+'"/></tr>');
    }    
    var td1Obj = $('<td>'+oneSBhtml+' <input type="hidden" name="OneType[]" value="'+oneSBhtml+'"/></td>'),
        td2Obj = $('<td>￥1590.00<input type="hidden" name="OnePrice[]" value="1590.00"/></td>'),
        td3Obj = $('<td class="td3">0</td><input type="hidden" name="DuoNum[]" value="0"/>'),
        td4Obj = $('<td class="td4">￥0.00</td><input type="hidden" name="DuoPrice[]" value="0.00"/>'),
        td5Obj = $('<td class="td5"><div style="max-height: 100px;overflow-x: auto;">'+threeSBNames+'</div><input type="hidden" name="subtype[]" value="'+threeSBNames+'"/></td>'),
        td6Obj = $('<td class="td6">￥'+(parseInt(threeSBSum)-10)*100+1590+'.00 </td><input type="hidden" name="serverprice[]" value=""/>'),
        td7EditObj = $('<a href="javascript:loadTwoSB('+checkedID+');"><img src="{$Think.ADMIN_IMAGES}w_edit.png" style="margin: 0 5px;"/></a>').click(function(){
            //编辑
            var curid = oneSBID,
                curidObj = $('#'+curid);
            $('.alertw_box_title .span').html(oneSBhtml);
            $('.alertw_box_title .spanid').val(curid);
            $('.alertW').show();//打开弹窗
            loadTwoSB(curid);//加载二级商标类型数据。
        }),
        td7DelObj = $('<a href="#"><img src="{$Think.ADMIN_IMAGES}w_delete.png" style="margin: 0 5px;"/></a>').click(function(){
            //删除
            if(trim(subtype)){
                var types = trim(subtype).split(' ');
                for( var i = 1; i <= types.length; i++ ){
                    delCookie(types[i-1]);
                }
            }
            var TWOTYPE = getCookie('TWOTYPE_'+checkedID);
            if(trim(TWOTYPE)){
                var TWOTYPEs = trim(TWOTYPE).split(' ');
                for( var i = 1; i <= TWOTYPEs.length; i++ ){
                    delCookie('Two_'+TWOTYPEs[i-1]);
                }
            }
            delCookie('TWOTYPE_'+checkedID);
            delCookie('subtype_'+checkedID);
            
            var curid = checkedID,
                curidObj = $('#'+curid);
            $("#trademarklist_"+curid).remove();
            paymentSumF(); 
//            checkboxNum--;
//            if(checkboxNum<=0){
//                $('#trademarklist').hide();
//            }
            curidObj.find('label').removeClass('checked');
            curidObj.find("input[type='hidden'].i1").val('false'); 
        }),
        td7Obj = $('<td class="td7"><input type="hidden" value="'+oneSBID+'"/></td>').append(td7EditObj).append(td7DelObj);
    //trademarklistTrObj.append(td1Obj);
    $("#paymentid").before(trademarklistTrObj);
    trademarklistTrObj.append(td1Obj).append(td2Obj).append(td3Obj).append(td4Obj).append(td5Obj).append(td6Obj).append(td7Obj);
    if(parseInt(threeSBSum)>10){
        td3Obj.html(parseInt(threeSBSum)-10);
        td3Obj.val(parseInt(threeSBSum)-10);
        td4Obj.html("￥"+parseInt(td3Obj.html())*100+".00");
        td4Obj.val(parseInt(td3Obj.html())*100);
        td6Obj.html("￥"+parseInt(parseInt(parseInt(td3Obj.html())*100)+1590)+".00");
        td6Obj.val(parseInt(parseInt(parseInt(td3Obj.html())*100)+1590));
    }else{
        td3Obj.html('0');
        td3Obj.val('0');
        td4Obj.html('￥0.00');
        td4Obj.val('0');
        td6Obj.html("￥1590.00");
        td6Obj.val('1590');
    }    
    paymentSumF(); 
    $('.alertW').hide();//关闭弹窗
    $('.alertW_box_other .span1').html('0');
    $('.alertW_box_other .span2').html('0');
    $('#twoSBObjParent').html('');
    $('#threeSBObjParent').html('');
    $('#trademarklist').show();
}
var checkboxNum = 0;//一级选中项的条数。
function addTrademarklist(Oneid){
   
    var curObj = $(".addproducts .addproducts_box .addproductsinfo .filter03 li");    
    curObj.click(function(event){
        //alert(checkboxNum);        
        var clickItem = event.target || event.srcElement;
        if(clickItem.nodeName.toLowerCase() === 'label'){ 
            var checkedNum = $(this).text(); //一级商标类别的名称  
            var checkedID = $(this).find("input[type='hidden'].i2").val();//一级商标类别的ID
            var curCheck = $(this).find("input[type='hidden'].i1");//该一级商标类别是否被选中
            //alert(checkedID);            
            if(curCheck.val()==='true'){
                //去掉
                //alert('true');
                $("#trademarklist_"+checkedID).remove();
                paymentSumF(); 
                checkboxNum--;
                if(checkboxNum<=0){
                    $('#trademarklist').hide();
                }
                $(this).find('label').removeClass('checked');
                curCheck.val('false');
            }else{
                ////选上       
                //alert('false');
                $(this).find('label').addClass('checked');
                $('.alertw_box_title .span').html(checkedNum);
                $('.alertw_box_title .spanid').val(checkedID);
                $('.alertW').show();//打开弹窗
                loadTwoSB(checkedID);//加载二级商标类型数据。
                   getNumCount();
                checkboxNum++;                
                curCheck.val('true');
             }                 
        }        
        //alert(checkboxNum);
    });  
}
$(function(){
    addTrademarklist(); 
    
});
</script>

<script type="text/javascript" src="{$Think.ADMIN_JS}guest.js?aa=<?php echo mt_rand(10000000,99999999);?>"></script>
<script type="text/javascript" src="{$Think.ADMIN_JS}Calendar1.js"></script>
</body>