<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>会员管理</title>
    <link href="{$Think.ADMIN_CSS}global.css" rel="stylesheet" type="text/css">
    <link href="{$Think.ADMIN_CSS}h_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{$Think.ADMIN_JS}jquery-1.7.2.min.js"></script>
</head>
<body>
<div class="content_right">
    <div class="indent"></div>
    <div class="link_path">您所在的位置：<a href="/Admin/Guest/lists">客官管理</a>&nbsp;>&nbsp;<a href="javascript:void(0)">个人详情</a></div>
    <div class="members_details">
        <div class="mem_det_nav">
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav1.png" alt="注册时间"/></dt>
            <dd>注册时间</dd>
            <dd class="date"><if condition="$data.reg_time gt 0 ">{$data.reg_time|date='Y-m-d H:i:s',###}<else />--</if></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav2.png" alt="首次登陆"/></dt>
            <dd>首次登陆</dd>
            <dd class="date"><if condition="$data.reg_time gt 0 ">{$data.reg_time|date='Y-m-d H:i:s',###}<else />--</if></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav3.png" alt="首次下单"/></dt>
            <dd>首次下单</dd>
            <dd class="date">2014-12-01<span>09:22:56</span></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav4.png" alt="铜牌会员"/></dt>
            <dd>铜牌会员</dd>
            <dd class="date">2014-12-01<span>09:22:56</span></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav5.png" alt="银牌会员"/></dt>
            <dd>银牌会员</dd>
            <dd class="date">2014-12-01<span>09:22:56</span></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav6.png" alt="金牌会员"/></dt>
            <dd>金牌会员</dd>
            <dd class="date">2014-12-01<span>09:22:56</span></dd>
        </dl>
        <dl class="cur">
            <dt><img src="{$Think.ADMIN_IMAGES}nav7.png" alt="蓝钻会员"/></dt>
            <dd>蓝钻会员</dd>
            <dd class="date"></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav8.png" alt="双钻会员"/></dt>
            <dd>双钻会员</dd>
            <dd class="date"></dd>
        </dl>
        <dl>
            <dt><img src="{$Think.ADMIN_IMAGES}nav9.png" alt="勋章会员"/></dt>
            <dd>勋章会员</dd>
            <dd class="date"></dd>
        </dl>
    </div>
    </div>

    <div class="m_info">
        <div class="m_info_l">
            <div class="m_tx"><img src="{$Think.ADMIN_IMAGES}m_icon01.png" /><p class="m_name"><span>客官昵称：</span>{$data.user_name}</p><p class="m_money"><span >可用盘缠：</span><if condition="$data.coil gt 0 ">{$data.coil}<else />0</if>盘缠</p></div>
            <div class="m_level_bz"><img src="{$Think.ADMIN_IMAGES}m_icon02.png" /></div>
        </div>
        <table class="m_info_r">
            <tr>
                <td><span>客官姓名：</span>{$data.truename}</td>
                <td><span>手机号码：</span>{$data.mobile_phone}</td>
                <td class="m_info_qq"><span>QQ：</span>{$data.qq}</td>
            </tr>
            <tr>
                <td><span>注册时间：</span><if condition="$data.reg_time gt 0 ">{$data.reg_time|date='Y-m-d H:i:s',###}<else />--</if></td>
                <td><span>注册类型：</span><empty name="$data.creatorid">自主注册<else />系统注册</empty></td>
                <td><span>创建人：</span>{$data.creator}</td>
            </tr>
            <tr>
                <td class="m_padding10"><span>登录次数：</span>93次</td>
                <td class="m_padding10"><span>最后登录时间：</span><if condition="$data.last_login gt 0 ">{$data.last_login|date='Y-m-d H:i:s',###}<else />--</if></td>
                <td class="m_padding10"><span>所属人：</span><div class="data">215151515</div><a href="#" class="belong"><img src="{$Think.ADMIN_IMAGES}m_icon04.png" /></a></td>
            </tr>
            <tr >
                <td class="m_line"><span>购物车商品：</span>{$cartsnum}个</td>
                <td class="m_line"><span>未支付订单：</span>{$noPaysnum}个</td>
                <td class="m_line"><span></span></td>
            </tr>
            <tr>
                <td><span>已支付订单：</span>{$Paysnum}个</td>
                <td><span>商品服务总数：</span>{$Pays.snum}个</td>
                <td><span>消费总额（元）：</span>￥{$data.user_money}</td>
            </tr>
        </table>
    </div>
    <div class="chooseNavbox">
        <ul class="choosebox">
            <li class="chooseNav01">
                <p>购物车商品</p>
            </li>
            <li class="chooseNav02">
                <p>未支付订单</p>
            </li>
            <li class="chooseNav03">
                <p>已支付订单</p>
            </li>
            <li class="chooseNav04">
                <p>交易人</p>
            </li>
            <li class="chooseNav04">
                <p>收货人</p>
            </li>
            <li class="chooseNav04">
                <p>优惠券</p>
            </li>
            <div style="clear:both;"></div>
        </ul>
        <ul class="chooseInfo">
            <li >
                <table class="spffxx">
                    <tbody>
                    <tr>
                        <th width="15%">加入时间</th>
                        <th width="11%">加入人</th>
                        <th width="21%">商品信息</th>
                        <th width="15%">服务详情</th>
                        <th width="10%">商品个数</th>
                        <th width="14%">应付额（元）</th>
                        <th width="12%">操作</th>
                    </tr>
                    <foreach name="carts" item="vo" >
                         <input type="hidden" name='is_send_info_1' id='is_send_info_1' value="1" />
                        <tr class="tr_bgc1">
                            <td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
                            <td>{$vo.creator}</td>
                            <td><a href="/Home/Goods/gooddetails/id/{$vo['goods_id']}" target="_blank">{$vo.short_title}[￥{$vo.now_price}]</a></td>
                            <td><a >                
                                    <if condition="$vo['style'] eq 38">
                                        {$vo["message"]["name"]}
                                        <br>{$vo["message"]["style"]}
                                    </if>
                                    <if condition="$vo['style'] eq 5">
                                        {$vo["message"]["name"]}
                                    </if>
                                    <if condition="$vo['style'] eq 6"> 
                                        {$vo["mbtext"]}
                                    </if></a></td>
                            <td>1</td>
                            <td class="price"><if condition="$vo['subd_num'] gt 0"> <b class="add">增+{$vo.subd_num}</b></if>￥{$vo.now_price}</td>
                            <td><a href="#">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:delCart({$vo.cartid})">删除</a></td>
                        </tr>
                    </foreach>
                   
                    <tr class="tr_bgc1 m_total_money">
                        <td colspan="7"><a href="/Admin/Guest/addMemOrder/uid/{$_GET['uid']}" title="添加购物车商品"><img src="{$Think.ADMIN_IMAGES}m_icon08.png" /></a><a href="javascript:sendInfo({$_GET['uid']},'1');"  title="短信提醒会员支付"><img src="{$Think.ADMIN_IMAGES}m_icon07.png" /></a>总额：<span>￥{$carts.totalprice}</span></td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="partner" style="display:none;">
                <table class="spffxx">
                    <tbody>
                    <tr>
                        <th width="13%">下单时间</th>
                        <th width="20%">订单编号</th>
                        <th width="19%">商品信息</th>
                        <th width="12%">服务详情</th>
                        <th width="10%">服务价（元）</th>
                        <th width="10%">应付款（元）</th>
                    </tr>
                    
                    <volist name="noPays" id="vo" mod="2" >
                      <input type="hidden" name='is_send_info_2' id='is_send_info_2' value="1" />
                      <tr <eq name="mod" value="0"> class="tr_bgc1" </eq> >   
                     <if condition="$vo.goods_number gt 1 ">
                         
                         <volist name="vo['goods']" id="gg" key="k" >
                            <if condition="$k eq 1 ">    <td rowspan="{$vo.goods_number}">{$vo.createtime|date='Y-m-d H:i:s',###}</td> </if>
                            <if condition="$k eq 1 ">    <td rowspan="{$vo.goods_number}" class="cd"><a href="/admin/Uorder/orderdetailed/pay/0/orderid/{$vo.order_id}" target="main">{$vo.order_card}</a></td> </if>
                            <if condition="$k gt 1 "> <tr> </if> 
                                <td><a href="javascript:void(0)">{$gg.short_title}[￥{$gg.goods_price}]</a></td>
                                <td>{$gg.name}【{$gg.style}】</td>
                                <td class="price">￥{$gg.service_price}</td>
                                <if condition="$k eq 1 ">    <td rowspan="{$vo.goods_number}" class="m_yfk"> ￥{$vo.totalprice}</td> </if>
                            <if condition="$k gt 1 ">  </tr> </if> 
                          </volist> 
                         
                    <else />
                        <volist name="vo['goods']" key="k" id="gg">
                           
                                <td>{$vo.createtime|date='Y-m-d H:i:s',###}</td>
                                <td class="cd"><a href="/admin/Uorder/orderdetailed/pay/0/orderid/{$vo.order_id}" target="main">{$vo.order_card}</a></td>
                                <td><a href="javascript:void(0)">{$gg.short_title}[￥{$gg.goods_price}]</a></td>
                                <td>{$gg.name}<if condition="!empty($gg['style'])">【{$gg.style}】</if></td>
                                <td class="price">￥{$gg.service_price}</td>
                                <td class="price1" >￥{$gg.service_price}</td>
                            
                        </volist>
                    </if>
                      </tr>
                    </volist>

                    <tr class="tr_bgc1 m_total_money">
                        <td colspan="7"><a href="javascript:sendInfo({$_GET['uid']},'2');"  title="短信提醒会员支付"><img src="{$Think.ADMIN_IMAGES}m_icon07.png" /></a>应付总额（元）：<span>￥{$noPays.total}</span></td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="qualifications" style="display:none;">
                <table class="spffxx">
                    <tbody>
                    <tr>
                        <th width="12.4%">支付时间</th>
                        <th width="18%">订单编号</th>
                        <th width="13%">商品信息</th>
                        <th width="12.4%">服务详情</th>
                        <th width="10%">状态</th>
                        <th width="10%">服务价（元）</th>
                        <th width="12.4%">类型及应付额（元）</th>
                    </tr>
                    
                    
                    <volist name="Pays" id="vo" mod="2" >
                      <tr <eq name="mod" value="0"> class="tr_bgc1" </eq> >   
                     <if condition="$vo.goods_number gt 1 ">
                         
                         <volist name="vo['goods']" id="gg" key="k" >
                            <if condition="$k eq 1 ">    <td rowspan="{$vo.goods_number}">{$vo.createtime|date='Y-m-d H:i:s',###}</td> </if>
                            <if condition="$k eq 1 ">    <td rowspan="{$vo.goods_number}" class="cd"><a href="/admin/Uorder/orderdetailed/pay/1/orderid/{$vo.order_id}" target="main">{$vo.order_card}</a></td> </if>
                            <if condition="$k gt 1 "> <tr> </if> 
                                <td><a href="javascript:void(0)">{$gg.short_title}[￥{$gg.goods_price}]</a></td>
                                <td>{$gg.name}【{$gg.style}】</td>
                                <td>{$gg.status}<if condition=" $gg.virt_status eq '2' OR $gg.virt_status eq '5' OR $gg.virt_status eq '7'  "><?php if($gg['erji'] ==='国内注册'){?><a  href="/Admin/Uorder/ordergoodsdetail/ordergid/<?php echo $gg['id'] ?>" target="main"> <?php }else{ ?> <a  href="/Admin/Uorder/patentdetail/ordergid/{$gg.id}" target="main"> <?php } ?>  <img src="{$Think.ADMIN_IMAGES}m_icon10.png"> </a></if></td>
                                <td class="price">￥{$gg.service_price}</td>
                                <if condition="$k eq 1 ">    <td rowspan="{$vo.goods_number}" class="m_yfk"> ￥{$vo.totalprice}</td> </if>
                            <if condition="$k gt 1 ">  </tr> </if> 
                          </volist> 
                         
                    <else />
                        <volist name="vo['goods']" key="k" id="gg">
                           
                                <td>{$vo.createtime|date='Y-m-d H:i:s',###}</td>
                                <td class="cd"><a href="/admin/Uorder/orderdetailed/pay/1/orderid/{$vo.order_id}" target="main">{$vo.order_card}</a></td>
                                <td><a href="javascript:void(0)">{$gg.short_title}[￥{$gg.goods_price}]</a></td>
                                <td>{$gg.name}<if condition="!empty($gg['style'])">【{$gg.style}】</if></td>
                        <td>{$gg.status}<if condition=" $gg.virt_status eq '2' OR $gg.virt_status eq '5' OR $gg.virt_status eq '7'  "><?php if($gg['erji'] ==='国内注册'){?><a  href="/Admin/Uorder/ordergoodsdetail/ordergid/<?php echo $gg['id'] ?>" target="main"> <?php }else{ ?> <a  href="/Admin/Uorder/patentdetail/ordergid/{$gg.id}" target="main"> <?php } ?> <img src="{$Think.ADMIN_IMAGES}m_icon10.png"> </a></if></td>
                                <td class="price">￥{$gg.service_price}</td>
                                <td class="price1" >￥{$gg.service_price}</td>
                            
                        </volist>
                    </if>
                      </tr>
                    </volist>
 
                    <tr class="tr_bgc1 m_total_money m_yzf">
                        <td colspan="7">应付总额（元）：￥{$Pays.total}<br />优惠： 盘缠-{$Pays.coil_money} 优惠券-{$Pays.onsale_money}<br />应付总额（元）：<span>￥{$Pays.pay_money}</span></td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li class="public" style="display:none;">
                <table class="m_jyr">
                    <if condition="!empty($Person)">
                    <tr>
                        <td width="6%">个人</td>
                        <td width="94%">
                            <table class="spffxx">
                                <tbody>
                                <tr>
                                    <th width="13%">真实姓名（中文）</th>
                                    <th width="13%">真实姓名（英文）</th>
                                    <th width="12%">国籍</th>
                                    <th width="16%">身份证号码</th>
                                    <th width="12%">地址（中文）</th>
                                    <th width="15%">地址（英文）</th>
                                    <th width="7%">邮编</th>
                                    <th width="10%">查看</th>
                                </tr>
                                <volist name="Person" key="k" id="pp">
                                <tr class="">
                                    <td >{$pp.trader_name}</td>
                                    <td >{$pp.e_trader_name}</td>
                                    <td>{$pp.trader_province}</td>
                                    <td>{$pp.trader_number}</td>
                                    <td>{$pp.trader_address}</td>
                                    <td>{$pp.e_trader_address}</td>
                                    <td>{$pp.postcode}</td>
                                    <td ><a href="{$pp.trader_photo}" target="_blank">身份证</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{$pp.trader_fbfphoto}" target="_blank">执照</a></td>
                                </tr>
                                </volist>

                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </if>
                    <if condition="!empty($Company)">
                    <tr>
                        <td>企业</td>
                        <td>
                            <table class="spffxx">
                                <tbody>
                                <tr>
                                    <th width="16%">企业名称（中文）</th>
                                    <th width="16%">企业名称（英文）</th>
                                    <th width="16%">国籍</th>
                                    <th width="16%">地址（中文）</th>
                                    <th width="16%">地址（英文）</th>
                                    <th width="8%">邮编</th>
                                    <th width="10%">查看</th>
                                </tr>
                                <volist name="Company" key="k" id="cc">
                                <tr class="">
                                    <td >{$cc.trader_name}</td>
                                    <td >{$cc.e_trader_name}</td>
                                    <td>{$cc.trader_province}</td>
                                    <td>{$cc.trader_address}</td>
                                    <td>{$cc.e_trader_address}</td>
                                    <td>{$cc.postcode}</td>
                                    <td ><a href="{$cc.trader_fbfphoto}" target="_blank">执照</a></td>
                                </tr>
                                </volist>
                                
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </if>
                </table>
            </li>
            <li class="public" style="display:none;">
                <table class="spffxx">
                    <tbody>
                    <tr>
                        <th width="33.2%">真实姓名</th>
                        <th width="33.2%">收货人地址</th>
                        <th width="33.2%">收货人联系方式</th>

                    </tr>
                    <volist name="Consignee" key="k" id="cc">
                    <tr class="">
                        <td <eq name="cc.is_check" value="1"> class="m_mraddress" </eq>>{$cc.sh_name}</td>
                        <td>{$cc.sh_city}{$cc.sh_province}{$cc.sh_minute_address}</td>
                        <td>{$cc.sh_phone}</td>

                    </tr>
                    </volist>
                    

                    </tbody>
                </table>
            </li>
            <li class="m_yhq" style="display:none;">
                <p class="m_yhq_title">【优惠券】</p>
                <ul>
                    <volist name="Coupon" key="k" id="cc">
                    <li class="yhj2">
                        <a>
                            <div class="con1">
                                <b class="b1"></b><b class="b2"></b>
                                <p class="p1">￥{$cc.sale_money}<span>元</span></p>
                                <p class="p2">
                                    <span class="span1">发行商：</span>
                                    <span class="span2">中细软集团</span>
                                </p>
                                <p class="p2">
                                    <span class="span1">使用条件：</span>
                                    <span class="span2">{$cc.is_where}</span>
                                </p>
                                <p class="p2">
                                    <span class="span1">有效时间：</span>
                                    <span class="span2">{$cc.startTime|date='Y-m-d H:i:s',###} 至 {$cc.endTime|date='Y-m-d H:i:s',###}</span>
                                </p>
                            </div>
                            <div class="con2"></div>
                        </a>
                    </li>
                    </volist>
                   
                </ul>

            </li>
        </ul>
    </div>

</div>
<script type="text/javascript">
    //菜单缩放
    openclose=true;
    function changeWin(){
        parent.bodyFrame.cols =openclose?"1,*":"210,*";//这句话有报错
        $(".indent").toggleClass('ind');
        openclose=!openclose;
    }

</script>
<script type="text/javascript" src="{$Think.ADMIN_JS}memberDetail.js"></script>
<script type="text/javascript" src="{$Think.ADMIN_JS}guest.js?aa=<?php echo mt_rand(10000000,99999999);?>"></script>
</body>
</html>