 <if condition="$info[0]['goods_id'] eq 8">

<div>
	<div style="background:url({$Think.HOME_IMAGES}con01.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con02.jpg); width:1118px; height:201px;"></div>
	<div style="width:1118px; height:118px;margin-left:25%">
	  <table align="center" width="560" border="0" cellspacing="0" cellpadding="0">
	 <tr>
    <td width="300" height="80"><a target="_blank" href="http://shop.gbicom.cn/Home/Goods/gooddetails/id/11"><img src="{$Think.HOME_IMAGES}botton_con01.jpg" width="260" height="79"></a></td>
    <td width="260" height="80"><a target="_blank" href="http://shop.gbicom.cn/Home/Goods/gooddetails/id/50"><img src="{$Think.HOME_IMAGES}botton_con02.jpg" width="260" height="79"></a></td>
  	</tr>
	</table>
	</div>
</div>
<!--注册流程-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con03.jpg); width:1118px; height:161px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con04.jpg); width:1118px; height:130px;">
	  <div style=" width:791px; padding-top:71px;">
		<table width="224" border="0" cellspacing="0" cellpadding="0" align="right">
  <tr>
      <td width="134" height="30"><a target="_blank" href="http://shop.gbicom.cn/Home/Article/detialarticle/id/71"><img src="{$Think.HOME_IMAGES}botton_con03.jpg" width="90" height="30"></a></td>
      <td width="90" height="30"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2355928254&site=qq&menu=yes"><img src="{$Think.HOME_IMAGES}botton_con04.jpg" width="90" height="30"></a></td>
    </tr>
		</table>
	  </div>
	</div>
</div>
<!--促销套餐-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con05.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con06.jpg); width:1118px; height:200px;">
	  <div style=" width:1079px; padding-top:153px;">
		<table width="669" border="0" cellspacing="0" cellpadding="0" align="right">
	    <tr>
      <td width="50%" height="30"><a  target="_blank" href="http://shop.gbicom.cn/home/package/details/id/1"><img src="{$Think.HOME_IMAGES}botton_con05.jpg" width="90" height="30"></a></td>
      <td width="50%" height="30" align="right"><a  target="_blank" href="http://shop.gbicom.cn/home/package/details/id/2"><img src="{$Think.HOME_IMAGES}botton_con05.jpg" width="90" height="30"></a></td>
    </tr>
		</table>
	  </div>
	</div>
	<div style="background:url({$Think.HOME_IMAGES}con07.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con08.jpg); width:1118px; height:110px;">
	  <div style=" width:802px; padding-top:35px; text-align:right;padding-left:70%;">
		<a target="_blank" href="http://shop.gbicom.cn/home/package/details/id/3"><img src="{$Think.HOME_IMAGES}botton_con05.jpg" width="90" height="30"></a>
	  </div>
	</div>
</div>
</if>

<!--选择中细软理由-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con09.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con10.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con11.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con12.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con13.jpg); width:1118px; height:140px;"></div>
</div>
<!--核心优势-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con14.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con15.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con16.jpg); width:1118px; height:160px;"></div>
</div>
<!--成功案例-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con17.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con18.jpg); width:1118px; height:180px;"></div>
</div>
<!--合作伙伴-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con19.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con20.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con21.jpg); width:1118px; height:170px;">
	  <div style="width:650px; padding-top:91px; text-align:right;float:right">
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2355928217&site=qq&menu=yes"><img src="{$Think.HOME_IMAGES}botton_con06.jpg" width="90" height="30"></a>
	  </div>
	</div>
</div>
<!--荣誉资质-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con22.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con23.jpg); width:1118px; height:220px;">
	  <div style=" width:347px; padding-top:167px; text-align:right;float:right">
	  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2355928217&site=qq&menu=yes"><img src="{$Think.HOME_IMAGES}botton_con06.jpg" width="90" height="30"></a>
	  </div>
	</div>
</div>
<!--公益活动-->
<div>
	<div style="background:url({$Think.HOME_IMAGES}con24.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con25.jpg); width:1118px; height:200px;"></div>
	<div style="background:url({$Think.HOME_IMAGES}con26.jpg); width:1118px; height:250px;"></div>
</div>
