<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>商标代理委托书</title>
  <link href="{$Think.ADMIN_CSS}s_style_add.css" rel="stylesheet" type="text/css">
</head>
<body> 
<div class="wapper">
  <form action="" method="post">
	<h2>商标代理委托书</h2>
    <p class="intro">委托人<span>{$deputdata["trader_name"]}{$deputdata["trader_number"]}</span>是<span>{$deputdata["trader_province"]}</span>国籍、依<span>{$deputdata["trader_province"]}</span>法律组成，现委托<span>北京细软智谷知识产权代理有限责任公司</span>代理<span>{$deputdata["name"]}</span>商标的如下“√”事宜。 </p>
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><label><input type="checkbox" name="shan" value="1" id="" checked>商标注册申请</label></td>
        <td><label><input type="checkbox" name="che" value="1" id="">撤销成为商品/服务通用名称注册商标申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="biao" value="1" id="">商标异议申请</label></td>
        <td><label><input type="checkbox" name="xiao" value="1" id="">撤销连续三年不使用注册商标提供证据</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="yi" value="1" id="">商标异议答辩</label></td>
        <td><label><input type="checkbox" name="cheng" value="1" id="">撤销成为商品/服务通用名称注册商标答辩</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="geng" value="1" id="">更正商标申请/注册事项申请</label></td>
        <td><label><input type="checkbox" name="bu" value="1" id="">补发变更/转让/续展证明申请</label></td>
      </tr>
      <tr>
        <td rowspan="2"><label><input type="checkbox" name="bian" value="1" id=""><span>变更商标申请人/注册人名义/地址 变更集体商标/证明商标管理规则/集体成员名单申请</span></label></td>
        <td><label><input type="checkbox" name="fa" value="1" id="">补发商标注册证申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="chu" value="1" id="">出具商标注册证明申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name=""dai value="1" id="">变更商标代理人/文件接收人申请</label></td>
        <td><label><input type="checkbox" name="ju" value="1" id="">出具优先权证明文件申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="jian" value="1" id="">删减商品/服务项目申请</label></td>
        <td><label><input type="checkbox" name="hui" value="1" id="">撤回商标注册申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="xu" value="1" id="">商标续展注册申请</label></td>
        <td><label><input type="checkbox" name="yi" value="1" id="">撤回商标异议申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="rang" value="1" id="">转让/移转申请/注册商标申请书</label></td>
        <td rowspan="2"><label><input type="checkbox" name="sheng" value="1" id=""><span>撤回变更商标申请人/注册人名义/地址 变更集体商标/证明商标管理规则/集体成员名单申请</span></label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="yong" value="1" id="">商标使用许可备案</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="xuk" value="1" id="">变更许可人/被许可人名称备案</label></td>
        <td><label><input type="checkbox" name="daili" value="1" id="">撤回变更商标代理人/文件接收人申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="shiyong" value="1" id="">商标使用许可提前终止备案</label></td>
        <td><label><input type="checkbox" name="fuwu" value="1" id="">撤回删减商品/服务项目申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="zhuangyong" value="1" id="">商标专用权质权登记申请</label></td>
        <td><label><input type="checkbox" name="zhuce" value="1" id="">撤回商标续展注册申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="youzhi" value="1" id="">商标专用权质权登记事项变更申请</label></td>
        <td><label><input type="checkbox" name="zhuangyi" value="1" id="">撤回转让/移转申请/注册商标申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="yangqi" value="1" id="">商标专用权质权登记期限延期申请</label></td>
        <td><label><input type="checkbox" name="beian" value="1" id="">撤回商标使用许可备案</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="shengq" value="1" id="">商标专用权质权登记证补发申请</label></td>
        <td><label><input type="checkbox" name="chweh" value="1" id="">撤回商标注销申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="youzhi" value="1" id="">商标专用权质权登记注销申请</label></td>
        <td><label><input type="checkbox" name="bushi" value="1" id="">撤回撤销连续三年不使用注册商标申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="sbzx" value="1" id="">商标注销申请</label></td>
        <td><label><input type="checkbox" name="ch" value="1" id="">撤回撤销成为商品/服务通用名称注册商标申请</label></td>
      </tr>
      <tr>
        <td><label><input type="checkbox" name="cx" value="1" id="">撤销连续三年不使用注册商标申请</label></td>
        <td><label><input type="checkbox" name="qt" value="" id="">其他</label></td>
      </tr>
    </table>

  </form>
  <div class="footer">
  	<div class="footer_l">
    	<p><span>委托人地址</span>{$deputdata["trader_address"]}</p>
        <p><span>联  系  人</span>{$deputdata["truename"]}</p>
        <p><span>电      话 </span>{$deputdata["mobile"]} </p>
        <p><span>邮政编码</span>{$deputdata["postcode"]}</p>
    </div>
    <div class="footer_r">
   	  <p class="zhang">委托人章戳（签字){$deputdata["trader_name"]}</p>
      <p class="time">{$deputdata["nowtime"]|date="Y-m-d H:i:s",###}</p>
    </div>
  </div>
  <div class="a_other" border="0">
      <div class="btns">
        <a class="input text-center" onclick='javascript:window.print();'>打印</a>
        <a class="input text-center" href="/admin/Uorder/deput/ordergid/{$deputdata['ogdid']}/down/downpdf">保存</a>
    </div>    
    </div>
</div>
</body>
</html>
<script src="{$Think.ADMIN_JS}jquery-1.7.2.min.js" type="text/javascript"></script>