<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工作台</title>
<link href="{$Think.ADMIN_CSS}s_style.css" rel="stylesheet" type="text/css">
<link href="{$Think.ADMIN_CSS}global.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="content_right">
    <div class="indent" onclick="changeWin()"></div>
    <div class="link_path">您所在的位置：<a href="/admin/Uorder/ordergoods">订单管理</a>&nbsp;>&nbsp;<a href="/admin/Uorder/ordergoods">所有服务</a></div>
    
    <div class="table_list casePay s">
      <div class="case_search">
      <form method="get" action="/admin/Uorder/ordergoods">
        <select onchange="searchSelectS()" name="titlename">
            <if condition="$get['titlename'] eq 'bargain'">
                <option value="bargain" selected>合同编号</option>
                <else/>
                <option value="bargain">合同编号</option>
            </if>
          
          <if condition="$get['titlename'] eq 'user_name'">
                <option value="user_name" selected>客官昵称</option>
                <else/>
                <option value="user_name">客官昵称</option>
            </if>
          
          <if condition="$get['titlename'] eq 'phone'">
                <option value="phone" selected>手机号码</option>
                <else/>
                <option value="phone">手机号码</option>
            </if>
          
          <if condition="$get['titlename'] eq 'style_name'">
                <option value="style_name" selected>服务名称</option>
                <else/>
                <option value="style_name">服务名称</option>
            </if>
          
        </select>
        <input type="text" class="input" name="searchdata" placeholder="请输入合同编号" style="width:200px" value="{$get['searchdata']}"/>
        <select name="erji" onchange="changestatus(this)">
            <option value="">请选择商品类型</option>
            <foreach name='goodsdata' item="sd">
                <if condition="$sd['goods_id'] eq $get['erji']">
                    <option value="{$sd['goods_id']}" selected>{$sd["short_title"]}</option>
                <else/>
                    <option value="{$sd['goods_id']}">{$sd["short_title"]}</option>
                </if>
            </foreach>
        </select>
           <if condition="$get['erji'] eq 8">
                <select name="status" id="statusid">
                    <option value="">请选择状态</option>
                    <if condition="$get['status'] eq 5"><option value="5" selected>已支付</option><else/><option value="5">已支付</option></if>
                    <if condition="$get['status'] eq 7"><option value="7" selected>服务已开始</option><else/><option value="7">服务已开始</option></if>
                    <if condition="$get['status'] eq 2"><option value="2" selected>信息初审</option><else/><option value="2">信息初审</option></if>
                    <if condition="$get['status'] eq 1"><option value="1" selected>编修审核</option><else/><option value="1">编修审核</option></if>
                    <if condition="$get['status'] eq 3"><option value="3" selected>报件</option><else/><option value="3">报件</option></if>
                    <if condition="$get['status'] eq 4"><option value="4" selected>下发受理</option><else/><option value="4">下发受理</option></if>
                    <if condition="$get['status'] eq 9"><option value="9" selected>初审</option><else/><option value="9">初审</option></if>
                    <if condition="$get['status'] eq 8"><option value="8" selected>下发注册证</option><else/><option value="8">下发注册证</option></if>
                    <if condition="$get['status'] eq 6"><option value="6" selected>服务结束</option><else/><option value="6">服务结束</option></if>
                    
                </select>
            </if>
        <if condition="$get['erji'] neq 8 && !empty($get['status'])">
            <select name="status" id="statusid">
                <option value="">请选择状态</option>
                <if condition="$get['status'] eq 5"><option value="5" selected>已支付</option><else/><option value="5">已支付</option></if>
                <if condition="$get['status'] eq 7"><option value="7" selected>服务已开始</option><else/><option value="7">服务已开始</option></if>
                <if condition="$get['status'] eq 6"><option value="6" selected>服务结束</option><else/><option value="6">服务结束</option></if>
            </select>
        </if>
        <if condition="empty($get['status'])">
            <select name="status" id="statusid">
                <option value="">请选择状态</option>
            </select>
        </if>
        &nbsp;&nbsp;&nbsp;&nbsp;支付时间：<input type="text" class="input_d" name="starttime" value="{$get['starttime']}" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')" id="sstarttime"/>&nbsp;至&nbsp;
            <input type="text" class="input_d" name="endtime" value="{$get['endtime']}" onclick="SelectDate(this,'yyyy-MM-dd hh:mm:ss')" id="sstarttime"/>
        <input name="input" type="submit" value="搜索" class="search_btn">
        </form>
      </div>
      <table class="spffxx">
        <tbody>
          <tr>            
            <th width="17%">合同编号</th>
            <th width="9%">客官昵称</th>
            <th width="10%">手机号码</th>
            <th width="18%">商品详情</th>
            <th width="10%">服务详情</th>
            <th width="10%">服务价（元）</th>
            <th width="12%" id="th" value="{$cate}" style="cursor:Pointer">支付时间
                <if condition="$sortorder eq desc">
                    <a class="cur">
                <else/>
                    <a>
                </if>
                <b></b></a>
            </th>
            <th width="8%">状态</th>
            <th width="6%">操作</th>
          </tr>
        <foreach name="ordergoodsdata" item="ogd">
          <tr class="{$ogd['trcolor']}">
            <td>{$ogd["bargain"]}</a>
            <td>{$ogd["user_name"]}</td>
            <td>{$ogd["phone"]}</td>
            <td><a href="/Home/Goods/gooddetails/id/{$ogd['goods_id']}" target="_blank">{$ogd["message"]["short_title"]}<br>[￥{$ogd["goods_price"]}]</a></td>
            <td>
                <if condition="$ogd['style'] eq 38">
                    {$ogd["message"]["name"]}
                    <br>{$ogd["message"]["style"]}
                </if>
                <if condition="$ogd['style'] eq 5">
                    {$ogd["message"]["name"]}
                </if>
                <if condition="$ogd['style'] eq 6"> 
                    {$ogd["mbtext"]}
                </if>
            </td>   
            <td class="price">
                <if condition="0 lt $ogd['subd_num']">
                    <b class="add">增+{$ogd['subd_num']}</b>
                </if>
                ￥{$ogd["service_price"]}</td>
            <td>
                <if condition="!empty($ogd['pay_time'])">
                {$ogd["pay_time"]|date="Y-m-d",###}<br>{$ogd["pay_time"]|date="H:i:s",###}
                </if>
            </td>
            <td class="{$ogd['color']}">{$ogd["brandStatus"]}</td>
            <td>
            <if condition="$ogd['goods_id'] neq 8">
                    <a href="/Admin/Uorder/patentdetail/ordergid/{$ogd['id']}" class="s_deal">
                <else/>
                    <a href="/Admin/Uorder/ordergoodsdetail/ordergid/{$ogd['id']}" class="s_deal">
            </if> 
                处理</a></td>
          </tr> 
        </foreach> 
          <if condition="empty($ordergoodsdata)">
            <tr class="tr_bgc1 no_data">
                <td  colspan="9">未找到符合该条件的数据，尝试<a href="http://zhikubao.net/#/Search" target="_blank">平台搜索！</a></td>
            </tr>
          </if>
        </tbody>
      </table>
    </div>    
    <div class="pageNew">
        <form method="get" action="/Admin/Uorder/ordergoods">
           {$pages}
        </form>
    </div>
  </div>
   <span id="status" style="display:none">{$get['erji']}</span>
</body>
<script type="text/javascript" src="{$Think.ADMIN_JS}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$Think.ADMIN_JS}order.js"></script>
<script type="text/javascript" src="{$Think.ADMIN_JS}Calendar1.js"></script>