<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>工作台</title>
<link href="{$Think.ADMIN_CSS}s_style.css" rel="stylesheet" type="text/css">
<link href="{$Think.ADMIN_CSS}global.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="content_right">
    <div class="indent"  onclick="changeWin()"></div>
    <div class="link_path">您所在的位置：<a href="/admin/Uorder/ordergoods">服务管理</a>&nbsp;>&nbsp;{$orderGoods["bargain"]}</div>
    <ul class="s_state_link clearfix">
      <li class="s_stated">
        <p class="p1"><span>下单时间</span></p>
        
        <p class="p2">{$orderGoods["addtime"]|date="Y-m-d",###}<br>{$orderGoods["addtime"]|date="H:i:s",###}<br>{$orderGoods["user_name"]}</p>
        
      </li>
      <foreach name="goodsflow" item="gf">
          <if condition="$gf['flowstatus'] eq 6 && !empty($gf['numtime'])">
                <li class="s_stated last">
            <else/>
              <li class="{$gf['flowcolor']}">
        </if>
          <p class="p1"><span>{$gf[0]}</span></p>
          <if condition="!empty($gf['numtime'])">
          <p class="p2">{$gf["numtime"]|date="Y-m-d",###}<br>{$gf["numtime"]|date="H:i:s",###}<br>{$gf["uname"]}</p>
          </if>
        </li>
      </foreach>
    </ul>
    <div class="s_detail">
      <div class="s_title">
        <p class="s_pcaseid">订单编号：{$orderGoods["order_code"]}<a href="/admin/Uorder/orderdetailed/orderid/{$orderGoods['order_id']}">查看</a></p>
        <p class="s_pcasestate">合同编号：{$orderGoods["bargain"]}<a href="/admin/Uorder/ordergoodsdetail/ordergid/{$orderGoods['id']}">查看</a></p>
        <p class="s_pgoods">商品信息：{$orderGoods["message"]["short_title"]}[￥{$orderGoods["goods_price"]}]</p>
        <p class="s_pprice">服务价：￥{$orderGoods["service_price"]}
            <if condition="$orderGoods['status'] eq 7 || $orderGoods['status'] eq 2">
                <a href="/admin/Uorder/shopenrollover/ordergid/{$orderGoods['id']}" class="f90" id="up">编辑</a>
            </if>
                <if condition='$orderGoods["status"] eq 7 || $orderGoods["status"] eq 2 || $orderGoods["status"] eq 6'>
                    <if condition="empty($goodsflow[8]['numtime'])">
                     <a href="/admin/Uorder/upflowstatus/ordergoods_id/{$orderGoods['id']}/goodsstatus/{$orderGoods['status']}" class="red">
                         {$ordergoodsflow[$orderGoods["status"]][0]}
                     </a>
                    </if>
               </if>
        </p>
      </div>
      <div class="s_content">
        <a href="javascript:void(0)" class="s_a_sqs">申请书</a>
        <a href="javascript:void(0)" class="s_a_wts">委托书</a>
        <div class="s_dtr">
          <p class="s_pn">商标名称：</p>
          <p class="s_pd">
            <b>{$orderGoods["message"]["name"]}</b><b>商标类别：{$orderGoods["style_name"]}</b>
            
            <a href="{$orderGoods['enroll']}" target="_blank">商标图样</a>
          <if condition="$traderfind['is_person'] eq 2">
                <a href="{$traderfind['company_subject']}" target="_blank">企业主体资格</a>
           </if>
          <if condition="$traderfind['is_person'] eq 1">
                <a href="{$traderfind['trader_photo']}" target="_blank">身份证</a>
                <a href="{$traderfind['trader_fbfphoto']}" target="_blank">个体执照</a>
          </if>
          </p>
        </div>
        <div class="s_dtr"><p class="s_pn">商品/服务项目：</p><p class="s_pd">{$orderGoods['subd']}</p></div>
        <div class="s_line"></div>
        <div class="s_dtr"><p class="s_pn">申请人名称（中文）：</p><p class="s_pd">{$traderfind["trader_name"]} {$traderfind["trader_number"]}</p></div>
        <div class="s_dtr"><p class="s_pn">申请人名称（英文）：</p><p class="s_pd">{$traderfind["e_trader_name"]}</p></div>
        <div class="s_dtr"><p class="s_pn">申请人国际/地区：</p><p class="s_pd">{$traderfind["trader_nation"]}</p></div>
        <div class="s_dtr"><p class="s_pn">申请人地址（中文）：</p><p class="s_pd">{$traderfind["trader_nation"]}</p></div>
        <div class="s_dtr"><p class="s_pn">申请人地址（英文）：</p><p class="s_pd">{$traderfind["e_trader_address"]}</p></div>
        <div class="s_dtr"><p class="s_pn">邮政编码：</p><p class="s_pd">{$traderfind["postcode"]}</p></div>
        <div class="s_dtr"><p class="s_pn">联系人：</p><p class="s_pd">{$traderfind["salesman_name"]}</p></div>
        <div class="s_dtr"><p class="s_pn">电话：</p><p class="s_pd">{$traderfind["tel"]}</p></div>
        <div class="s_dtr"><p class="s_pn">代理机构名称：</p><p class="s_pd">北京细软智谷知识产权代理有限公司</p></div>
        <div class="s_dtr"><p class="s_pn">外国申请人的国内接收人：</p>{$traderfind["in_accept_name"]}</p></div>
        <div class="s_dtr"><p class="s_pn">国内接收人地址：</p><p class="s_pd">{$traderfind["in_accept_address"]}</p></div>
        <div class="s_dtr"><p class="s_pn">邮政编码：</p><p class="s_pd">{$traderfind["in_accept_postcode"]}</p></div>
        <div class="s_dtr">
          <p class="s_pn">商标申请声明：</p>
          <p class="s_pd">
            <if condition='in_array(1,$traderfind["apply"])'><label>集体商标</label></if>
            <if condition='in_array(2,$traderfind["apply"])'><label>证明商标</label></if>
            <if condition='in_array(3,$traderfind["apply"])'><label>以三维标志申请商标注册</label></if>
            <if condition='in_array(4,$traderfind["apply"])'><label>以颜色组合申请商标注册</label></if>
            <if condition='in_array(5,$traderfind["apply"])'><label>以声音标志申请商标注册</label></if>
            <if condition='in_array(6,$traderfind["apply"])'><label>两个以上申请人共同申请注册同一商标</label></if>
          </p>
        </div>
        <div class="s_dtr">
          <p class="s_pn">要求优先权声明：</p>
          <p class="s_pd">
           <if condition='in_array(1,$traderfind["priority"])'><lable>基于第一次申请的优先权&nbsp;&nbsp&nbsp;&nbsp</lable></if>
<if condition='in_array(2,$traderfind["priority"])'><lable>基于展会的优先权&nbsp;&nbsp&nbsp;&nbsp</lable></if>         
<if condition='in_array(3,$traderfind["priority"])'><lable>优先权证明文件后补</lable></if>
          </p>
        </div>
        <div class="s_dtr"><p class="s_pn">申请/展出国家/地区：</p><p class="s_pd">{$traderfind["applyshowstate"]}</p></div>
        <div class="s_dtr"><p class="s_pn">申请/展出日期：</p><p class="s_pd">
                <if condition="!empty($traderfind['applyshowtime'])">
                {$traderfind["applyshowtime"]|date="Y-m-d H:i:s",###}
                </if>
            </p></div>
        <div class="s_dtr"><p class="s_pn">申请号：</p><p class="s_pd">{$traderfind["applynum"]}</p></div>
      </div>
      <div class="s_title_path">
          <if condition="!empty($compiledata['com_time'])">
        <p>编修审核</p>
        <div><span>状态：
                <if condition="$compiledata['is_pass'] eq 1">审核通过</if>
                <if condition="$compiledata['is_pass'] eq 2">不通过</if>
            </span><span>审核日期：{$compiledata["com_time"]|date="Y-m-d H:i:s",###}</span><span>审核人：{$compiledata['co_user_name']}</span></div>
         </if>
        <if condition="!empty($compiledata['into_pieces'])">
        <p>编修报件</p>
        <div><span>报件方式：
                <if condition="$compiledata['pieces_status'] eq 1">窗口报件</if>
                <if condition="$compiledata['pieces_status'] eq 3">窗口加急</if>
                <if condition="$compiledata['pieces_status'] eq 2">网络报件</if>
            </span>
            <if condition="$compiledata['pieces_status'] eq 2"> 
                <span>网络注册号：{$compiledata['pieces_rennumber']}</span>
            </if>
            <span>报件日子：{$compiledata["into_pieces"]|date="Y-m-d H:i:s",###}</span><span>报件人：{$compiledata['pie_user_name']}</span></div>
       </if>
        <if condition="!empty($compiledata['into_accept_time'])">
        <p>下发受理</p>
        <div><span>受理附件：<a href="{$compiledata['accept_adj']}" target="_blank">查看</a></span>
            <span>发文编号：{$compiledata['dispatch_num']}</span>
            <span>发文日子：{$compiledata["dispatch_time"]|date="Y-m-d H:i:s",###}</span>
            <span>录入人：{$compiledata['xf_user_name']}</span></div>
        </if>
        <if condition="!empty($compiledata['trialtime'])">
        <p>初审公告</p>
        <div><span>初审附件：<a href="{$compiledata['c_accept_adj']}" target="_blank">查看</a></span>
            <span>公告期号：{$compiledata['notice_num']}</span>
            <span>发文日子：{$compiledata["dispatch_time"]|date="Y-m-d H:i:s",###}</span>
            <span>录入人：{$compiledata['cs_user_name']}</span></div>
        </if>
        <if condition="!empty($compiledata['into_res']) && $compiledata['res_status'] eq 3">
        <p>注册证下发</p>
      </div>
    </div>
    <table class="case_detail s_fastmail">
      <tbody>
        <tr>
          <th>快递公司：</th><td>{$compiledata["user_message"]["express"]}</td>
          <th>快递单号：</th><td>{$compiledata["user_message"]["numbers"]}</td>
          <td colspan="4">
        </tr>
        <tr>
          <th>收货人：</th><td>{$compiledata["user_message"]["name"]}</td>
          <th>快递单号：</th><td>联系方式：{$compiledata["user_message"]["phone"]}</td>
          <td colspan="4">
        </tr>
        <tr>
          <th>收货人地址：</th><td colspan="3">{$compiledata["user_message"]["address"]}</td>
          <td colspan="4">
        </tr>
        <tr>
          <th>邮寄人：</th><td>{$compiledata["zc_user_name"]}</td>
          <th>邮寄时间：</th><td>{$compiledata["into_endtime"]|date="Y-m-d H:i:s",###}</td>
          <td colspan="4">
        </tr>
      </tbody>
    </table>
    </if>
    <if condition="!empty($compiledata['server_endtime'])">
    <div class="s_detail">
        <div class="s_title_path">
        <if condition="!empty($compiledata['trialtime'])">
          <p>服务结束</p>
          <div>结束日期：{$compiledata["server_endtime"]|date="Y-m-d H:i:s",###}</span><span>录入人：{$compiledata['server_endhuman']}</span></div>
        </if>
        </div>
    </div>     
  </div>
<script type="text/javascript" src="{$Think.ADMIN_JS}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$Think.ADMIN_JS}order.js"></script>
</body>