<include file="Public/left" />

<div class="wapper">
    
    <include file="Public/left" />
    
    <!--right_inner begin-->
    <div class="wapper-right">
    	<div class="right_inner">
    		<div class="path">您的位置：<a href="#">页面设置</a>》<a href="#">商品服务优先级设置</a></div>
        	<div class="search">
  <form action="" method="post" name="search" target="_blank">
                	<p>业务类型：
                    <select name="ywlx">
                	  <option selected="selected">商标业务</option>
                	  <option>专利业务</option>
                	  <option>版权业务</option>
</select></p>
            		<p>关键词：<input name="keywords" type="text" value="请输入商品编码、简称、全称、描述进行查询" size="30" maxlength="20" /></p>
		      <input name="input" type="submit" value="搜索" />
		  </form>
            </div>
            <p class="sbyw">商标业务&nbsp;&nbsp;&nbsp;&nbsp;首页序列:<span>1</span></p>
            <table class="ddlc">
            	<tr>
                  <th class="col_01">商品简称</th>
                  <th class="col_02">现价</th>
                  <th class="col_03">序号</th>
                  <th class="col_04">是否首页推广</th>
                  <th class="col_05">是否热门推荐</th>
                  <th class="col_06">操作</th>
                </tr>
                <tr class="regester">
                  <td ><span class="first">国内商标注册</span></td>
                  <td >&nbsp;</td>
                  <td >1</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                </tr>
                <tr>
                  <td>商标注册</td>
                  <td>￥1590.00</td>
                  <td>1</td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                   <td><a href="#"><img src="images/1_05.png" /></a></td>
                </tr>
                <tr>
                  <td>香港注册</td>
                  <td>￥1590.00</td>
                  <td>1</td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                   <td><a href="#"><img src="images/1_05.png" /></a></td>
                </tr>
                <tr>
                  <td>香港注册</td>
                  <td>￥1590.00</td>
                  <td>1</td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                   <td><a href="#"><img src="images/1_05.png" /></a></td>
                </tr>
                <tr class="regester">
                  <td ><span class="first">国内商标注册</span></td>
                  <td >&nbsp;</td>
                  <td >1</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                  <td >&nbsp;</td>
                </tr>
                <tr>
                  <td>商标注册</td>
                  <td>￥1590.00</td>
                  <td>1</td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                   <td><a href="#"><img src="images/1_05.png" /></a></td>
                </tr>
                <tr>
                  <td>香港注册</td>
                  <td>￥1590.00</td>
                  <td>1</td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                   <td><a href="#"><img src="images/1_05.png" /></a></td>
                </tr>
                <tr>
                  <td>香港注册</td>
                  <td>￥1590.00</td>
                  <td>1</td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                  <td><div class="yesno"><span>是</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>否</span><div class="zhezhao"></div><div class="yesno_zz no"></div></div></td>
                   <td><a href="#"><img src="images/1_05.png" /></a></td>
                </tr>
            </table>
            <div class="page">
            	<span class="float-left">
                    共111页&nbsp;&nbsp;&nbsp;&nbsp;每页显示
                    <label>
                        <select name="account" id="account">
                          <option selected="selected">10</option>
                          <option>20</option>
                          <option>30</option>
                        </select>
                    </label>
                    条数据
                </span>
                <p>
                	<a href="#"><</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    ...
                    <a href="#">></a>
                    共8页，到第&nbsp;<input type="text" size="5" />&nbsp;页
                    <input type="submit" name="确定" value="确定" />
                </p>
            </div>
            <div class="clear"></div>
		</div>
            
        </div>
   
    
    </div>
    <!--wapper-right end-->
</div><!--wapper end-->
<!--头部 开始-->
</body>
</html>
